:root {
	--text-color: #aaa;
	--hover-color: #ccc;
	--bg-color: #0c0c0d;
	--bg-color2: rgba(35, 35, 39, 0.95);
	--scr-track: #0c0c0d;
	--scr-thumb: #555;
}
.spinner {
	filter: invert(100%) hue-rotate(180deg);
}
html, body, input, select, #map, .leaflet-control-layers-expanded, #msgStatusHead, .leaflet-control-attribution, .leaflet-tooltip, 
.leaflet-contextmenu a.leaflet-contextmenu-item, .leaflet-popup-content-wrapper, .leaflet-popup-tip, .leaflet-control-scale-line, .leaflet-routing-remove-waypoint:hover::after {
	color: var(--text-color) !important;
}
.anchor:hover, select:hover:enabled, #home .sidebar-body a i:hover, #inputWw2 div, .leaflet-control-attribution .fa-circle-info:hover, 
button:hover:enabled:not(.fancybox-button), .leaflet-bar a:hover, .navigateItem a:hover, .leaflet-container a.leaflet-popup-close-button:hover, .popup-header-button:hover, 
.leaflet-routing-geocoders button:hover::after, #devTools h3:hover::after, .popup-ohContainer .popup-tagValue:hover::after {
	color: var(--hover-color) !important;
}
.sidebar-tabs, #homeBox, #xmasMsg, .anchor, input:not([type="range"]), hr, select, button, .leaflet-tooltip, .leaflet-control-geocoder input, .slider::before, #inputOpacity,
.leaflet-control-geocoder, .leaflet-contextmenu, #msgStatusHead, .leaflet-container a.leaflet-popup-close-button, .leaflet-control-geocoder-selected,
#poi-results-list tr:hover, .poi-checkbox-selected, .poi-checkbox > label:hover, .leaflet-touch .leaflet-bar, #walking a img {
	background-color: var(--bg-color) !important;
}
#msgStatusBody, .leaflet-bar > a, .leaflet-bar button, .leaflet-popup-content-wrapper, .leaflet-popup-tip, .sidebar-content, .leaflet-control-layers-expanded, .leaflet-control-layers,
.leaflet-control-geocoder, .leaflet-control-geocoder-alternatives, .leaflet-control-geocoder-alternatives li:hover {
	background-color: var(--bg-color2) !important;
}
@media (min-width: 1300px) {
	.sidebar.collapsed .sidebar-tabs {
		background-color: rgba(0, 0, 0, 0.5) !important;
	}
}
#weather, #newFeed ul {
	color: #688c81;
}
.leaflet-bar a, .leaflet-bar a:hover {
	border-bottom: 1px solid var(--bg-color);
}
.leaflet-bar a:last-child {
	border-bottom: none;
}
.custscroll {
	scrollbar-color: var(--scr-thumb) var(--scr-track) !important;
}
.layerDark {
	filter: invert(90%) hue-rotate(180deg) contrast(0.8);
}
.sidebar-header {
	color: #ddd;
}
.leaflet-control-layers-separator {
	border-top: 2px solid var(--bg-color);
}
#poi-results, #walkDesc img, #thennow img, #myprofile img, .popup-imgContainer > a > img, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
	border: 2px solid var(--bg-color);
}
#poi-results-list tr, .popup-header, .leaflet-control-geocoder-alternatives li:not(:last-child) {
	border-bottom: 2px solid var(--bg-color) !important;
}
.leaflet-control-scale-line, .poi-result-selected {
	background-color: rgba(0, 0, 0, 0.5);
}
.leaflet-control-scale-line {
	border: 2px solid #000;
	border-top: none;
}
.leaflet-container .leaflet-control-attribution {
	background: rgba(0, 0, 0, 0.7);
}
.anchor, .easy-autocomplete-container ul li, .easy-autocomplete-container ul .eac-category {
	border-color: #666;
}
button:disabled, button:disabled:hover {
	color: #555;
}
input, select, #sidebar button:not(.modalButton), .leaflet-tooltip {
	border: 1px solid #333 !important;
}
.leaflet-control-geocoder input, .leaflet-control-geocoder-alternatives a, .fancybox-button, .modalButton {
	border: none !important;
}
.easy-autocomplete-container ul li, .easy-autocomplete-container ul .eac-category {
	background: #222;
}
.easy-autocomplete-container ul li.selected {
	background: none repeat scroll 0 0 #000;
}
.sidebar-tabs > ul > li:hover, .slider {
	background-color: #444;
}
.slider:hover {
	background-color: #666;
}
.popup-header {
	background-color: rgba(12, 12, 13, 0.5) !important;
}
.popup-fhrs > a > img {
	filter: brightness(0.75);
}
.leaflet-container a.leaflet-popup-close-button {
	border: 3px solid #333;
}
.leaflet-popup .award {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 0 0 15px black;
}
.leaflet-tooltip-right::before {
	border-right-color: var(--bg-color);
}
.modalButton {
	box-shadow: 1px 1px #000;
	background-color: #222 !important;
}
.leaflet-contextmenu a.leaflet-contextmenu-item.over {
	background-color: #222;
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
}
.leaflet-contextmenu-separator {
	border-bottom: 1px solid #333;
}
.popup-ohTable tr, .popup-bsTable tr { border: 1px solid black; }
.popup-bsTable tr, .popup-ohTable td.times { background-color: #222; }
.popup-ohTable td.workday { background-color: #333; }
.popup-ohTable td.weekend { background-color: #444; }
.sidebar-close:hover {
	color: #bbb;
}
.popup-xmas .leaflet-popup-content-wrapper, .leaflet-tooltip.popup-xmas, #xmasMsg {
	background-blend-mode: soft-light;
}
.custscroll::-webkit-scrollbar {
	background-color: var(--scr-track);
}
.custscroll::-webkit-scrollbar-thumb {
	background-color: var(--scr-thumb);
}
#gotocontrols .fa-border, #gotoprivacy .fa-border {
	border: 1px solid #333;
	border-radius: 5px;
	background-color: var(--bg-color);
}
