:root {
	--text-color: #aaaaaa;
	--hover-color: #999999;
	--bg-color: #111111;
	--bg-color2: rgba(35, 35, 39, 0.9);
	--scr-thumb: #555555;
	--scr-track: #111111;
	--scroll-shadow: 0, 0, 0;
	--scroll-shadow-popup: 0, 0, 0;
}
body {
	background-color: #111111;
}
.spinner svg circle {
	fill: rgba(0, 0, 0, 0.75);
}
.leaflet-control-layers-expanded, #modal-head, .leaflet-control-attribution, .leaflet-tooltip, .leaflet-contextmenu a.leaflet-contextmenu-item,
.leaflet-popup-content-wrapper, .leaflet-popup-tip, .leaflet-control-scale-line, .leaflet-routing-remove-waypoint:hover::after {
	color: var(--text-color) !important;
}
.sidebar-anchor:hover, select:hover:enabled, #home .sidebar-body a i:hover, #control-ww2 div, .leaflet-control-attribution .fa-circle-info:hover, button:hover:enabled:not(.fancybox-button),
.leaflet-bar a:hover, .popup-navigate a:hover, .leaflet-container a.leaflet-popup-close-button:hover, #modal div.leaflet-popup-close-button:hover,
#control-opacity div.leaflet-popup-close-button:hover, .popup-header-button:hover, .leaflet-routing-geocoders button:hover::after, #settings-devtools h3:hover::after,
.popup-openhrs .popup-tag-value:hover::after, .leaflet-control-layers-list input:not(:checked,:disabled) + span:hover:before {
	color: var(--hover-color) !important;
}
.sidebar-tabs, footer, #home-box, #holiday-xmas-msg, .sidebar-anchor, input:not([type="range"]), hr, select, button, .leaflet-control-geocoder input, .slider::before,
.leaflet-control-geocoder, .leaflet-contextmenu, #modal-head, .leaflet-container a.leaflet-popup-close-button, .leaflet-control-geocoder-selected, .fancybox-bg,
#pois-results-list tr:hover, .pois-checkbox-selected, .pois-checkbox > label:hover, .leaflet-touch .leaflet-bar:not(#control-ww2, #control-opacity), #walking a img {
	background-color: var(--bg-color) !important;
}
#modal, #control-opacity, .leaflet-bar > a, .leaflet-bar button, .leaflet-popup-content-wrapper, .leaflet-popup-tip, .sidebar-content, .leaflet-control-layers-expanded, .leaflet-control-layers,
.leaflet-control-geocoder, .leaflet-control-geocoder-alternatives, .leaflet-control-geocoder-alternatives li:hover, .leaflet-tooltip, .popup-img-attrib, .popup-navigate-background {
	background-color: var(--bg-color2) !important;
}
.leaflet-control-layers-list input + span:before {
	color: #444444;
}
#home-weather, #home-new-feed ul {
	color: #688c81;
}
.leaflet-bar a, .leaflet-bar a:hover, .settings-label {
	border-bottom: 1px solid var(--bg-color);
}
.leaflet-bar a:last-child {
	border-bottom: none;
}
#settings-devtools {
	border-top: 1px solid var(--bg-color);
}
#control-opacity input[type=range] {
	background-image: linear-gradient(to right, #333, #666);
}
input[type=range] {
	background-color: #666666;
}
.theme-scroll {
	scrollbar-color: var(--scr-thumb) var(--scr-track) !important;
}
.theme-invert {
	filter: invert(90%) hue-rotate(180deg) contrast(80%);
}
.sidebar-header-text, .sidebar-close {
	color: #dddddd;
}
.leaflet-control-layers-separator {
	border-top: 2px solid var(--bg-color);
}
#pois-results, #walk-desc img, #thennow img, #info-profile img, .popup-img, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar:not(#control-ww2) {
	border: 2px solid var(--bg-color);
}
input[type=range]::-webkit-slider-thumb { border-color: var(--bg-color); }
input[type=range]:hover::-webkit-slider-thumb {	background-color: var(--hover-color); }
input[type=range]::-moz-range-thumb { border-color: var(--bg-color); }
input[type=range]:hover::-moz-range-thumb { background-color: var(--hover-color); }
#pois-results-list tr, .popup-header, .leaflet-control-geocoder-alternatives li:not(:last-child) {
	border-bottom: 2px solid var(--bg-color) !important;
}
.leaflet-control-scale-line, .pois-result-selected {
	background-color: rgba(0, 0, 0, 0.5);
}
.leaflet-control-scale-line {
	border: 2px solid #000000;
	border-top: none;
}
.leaflet-container .leaflet-control-attribution {
	background: rgba(0, 0, 0, 0.7);
}
.sidebar-anchor, .easy-autocomplete-container ul li, .easy-autocomplete-container ul .eac-category {
	border-color: #666666;
}
button:disabled, button:disabled:hover, button:disabled::after, button:disabled:hover::after {
	color: #555555 !important;
}
input:not([type=range]), select, #sidebar button:not(.tutorial-button), .leaflet-tooltip {
	border: 1px solid #333 !important;
}
.leaflet-control-geocoder input, .leaflet-control-geocoder-alternatives a, .fancybox-button, .tutorial-button {
	border: none !important;
}
.easy-autocomplete-container ul li, .easy-autocomplete-container ul .eac-category {
	background: #222222;
}
.easy-autocomplete-container ul li.selected {
	background: none repeat scroll 0 0 #000000;
}
.sidebar-tabs > ul > li:hover, .slider {
	background-color: #444444;
}
.slider:hover {
	background-color: #666666;
}
.popup-header {
	background-color: rgba(12, 12, 13, 0.5) !important;
}
.popup-fhrs > a > img {
	opacity: 75%;
}
.leaflet-container a.leaflet-popup-close-button {
	border: 3px solid #333333;
}
.leaflet-popup .competition-award {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 0 0 15px black;
}
.leaflet-tooltip-right::before { border-right-color: var(--bg-color2); }
.leaflet-tooltip-left::before { border-left-color: var(--bg-color2); }
.leaflet-tooltip-top::before { border-top-color: var(--bg-color2); }
.leaflet-tooltip-bottom::before { border-bottom-color: var(--bg-color2); }
.tutorial-button {
	background-color: #222 !important;
}
.leaflet-contextmenu a.leaflet-contextmenu-item.over {
	background-color: #222222;
	border-top: 1px solid #222222;
	border-bottom: 1px solid #222222;
}
.leaflet-contextmenu-separator {
	border-bottom: 1px solid #333333;
}
.popup-img { background-color: #333333; }
.popup-openhrs-table tr, .popup-bustime-table tr { border: 1px solid black; }
.popup-bustime-table tr, .popup-openhrs-table td.times { background-color: #222222; }
.popup-bustime-table tr:nth-child(1) { color: #eeeeee; }
.popup-openhrs-table td.workday { background-color: #333333; }
.popup-openhrs-table td.weekend { background-color: #444444; }
.sidebar-close:hover { color: #bbbbbb; }
.sidebar-notif { border-color: var(--bg-color); }
.xmasMapTree { filter: drop-shadow(0px 10px 9px #000000); }
.circleMarker { fill: #000000; }
.pois-results-circleMarker { color: #000000; }
.popup-xmas .leaflet-popup-content-wrapper, .leaflet-tooltip.popup-xmas, #holiday-xmas-msg {
	background-blend-mode: lighten;
}

.theme-scroll::-webkit-scrollbar {
	background-color: var(--scr-track);
}
.theme-scroll::-webkit-scrollbar-thumb {
	background-color: var(--scr-thumb);
}
#info-privacy .fa-border {
	border: 1px solid #333333;
	border-radius: 5px;
	background-color: var(--bg-color);
}
.popup-comment, .comment, figcaption {
	color: #888888;
}
