.sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	z-index: 1100; }
@media (min-width: 768px) {
	.sidebar {
		opacity: 1;
		top: 10px;
		bottom: 10px;
		transition: width 500ms, opacity 250ms; } }
@media (min-width: 768px) and (max-width: 1199px) {
	.sidebar {
		width: 350px; } }
@media (min-width: 1200px) {
    .sidebar {
		width: 450px; } }

.sidebar.collapsed {
	width: 40px; }
@media (min-width: 768px) {
	.sidebar.collapsed {
		opacity: 0.7;
	}
	.sidebar.collapsed:hover {
		opacity: 1;
	} }
	
.sidebar-left {
	left: 0; }
@media (min-width: 768px) {
    .sidebar-left {
		left: 10px; } }

.sidebar-right {
	right: 0; }
@media (min-width: 768px) {
    .sidebar-right {
		right: 10px; } }

.sidebar-tabs {
	top: 0;
	bottom: 0;
	height: 100%; }
.sidebar-left .sidebar-tabs {
	left: 0; }
.sidebar-right .sidebar-tabs {
	right: 0; }
.sidebar-tabs, .sidebar-tabs > ul {
	position: absolute;
	width: 40px;
	margin: 0;
	padding: 0;
	z-index: 1;
	background-color: #ccc; }
.sidebar-tabs > li, .sidebar-tabs > ul > li {
	width: 100%;
	height: 55px;
	color: #b05000;
	overflow: hidden;
	transition: all 80ms; }
.sidebar-tabs > li:hover, .sidebar-tabs > ul > li:hover {
	color: #000;
	background-color: #dedede; }
.sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
	color: #dedede;
	background-color: #b05000; }
.sidebar-tabs > li.active:hover, .sidebar-tabs > ul > li.active:hover, .sidebar-close:hover {
	color: #000; }
.sidebar-tabs > li.disabled, .sidebar-tabs > ul > li.disabled {
	color: rgba(51, 51, 51, 0.4); }
.sidebar-tabs > li.disabled:hover, .sidebar-tabs > ul > li.disabled:hover {
	background: transparent; }
.sidebar-tabs > li.disabled > a, .sidebar-tabs > ul > li.disabled > a {
	cursor: default; }
.sidebar-tabs > li > a, .sidebar-tabs > ul > li > a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 65px;
	color: inherit;
	text-decoration: none;
	font-size: 11pt;
	text-align: center; }
.sidebar-tabs > ul + ul {
	z-index: 0;
	bottom: 0; }

.sidebar-content {
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: rgba(222, 222, 222, 0.9);
	overflow: hidden; }
.sidebar-left .sidebar-content {
	left: 40px;
	right: 0; }
.sidebar-right .sidebar-content {
	left: 0;
	right: 40px; }
.sidebar.collapsed > .sidebar-content {
    overflow-y: hidden; }
	
.sidebar-pane {
	display: none;
	left: 0;
	right: 0;
	box-sizing: border-box; }
.sidebar-pane.active {
	display: block; }
@media (min-width: 768px) and (max-width: 1199px) {
	.sidebar-pane {
		min-width: 265px; } }
@media (min-width: 1200px) {
	.sidebar-pane {
		min-width: 405px; } }

.sidebar-header {
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
	height: 55px;
	padding: 0 15px;
	margin: 0;
	font: normal 16pt/55px BerlinSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #fff;
	background-color: #b05000; }
.sidebar-right .sidebar-header {
	padding-left: 40px; }
.sidebar-body {
	position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
	height: calc(100% - 55px);
	width: calc(100% - 30px);
	padding: 0 15px; 
	min-width: 250px; }
.sidebar-close {
	position: absolute;
	top: 0;
	width: 40px;
	height: 55px;
	text-align: center;
	cursor: pointer;
	background-color: #b05000; }
.sidebar-left .sidebar-close {
	right: 0; }
.sidebar-right .sidebar-close {
	left: 0; }
		
.sidebar-left ~ .sidebar-map {
	margin-left: 40px; }
@media (min-width: 768px) {
    .sidebar-left ~ .sidebar-map {
		margin-left: 0; } }

@media (min-width: 768px) {
	.sidebar-right ~ .sidebar-map {
		margin-right: 0; } }

.sidebar {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65); }
.sidebar.leaflet-touch {
	box-shadow: none;
	border-right: 2px solid rgba(0, 0, 0, 0.2); }
@media (min-width: 768px) {
	.sidebar {
		border-radius: 4px; }
	.sidebar.leaflet-touch {
		border: 2px solid rgba(0, 0, 0, 0.2); } }

@media (min-width: 768px) {
	.sidebar-left ~ .sidebar-map .leaflet-left {
		transition: left 500ms; } }

@media (min-width: 768px) and (max-width: 1199px) {
	.sidebar-left ~ .sidebar-map .leaflet-left {
		left: 360px; } }

@media (min-width: 1200px) {
	.sidebar-left ~ .sidebar-map .leaflet-left {
		left: 460px; } }

.sidebar-left.collapsed ~ .sidebar-map .leaflet-left {
	left: 0; }
@media (min-width: 768px) {
	.sidebar-left.collapsed ~ .sidebar-map .leaflet-left {
		left: 50px; } }

@media (min-width: 768px) {
	.sidebar-right ~ .sidebar-map .leaflet-right {
		transition: right 500ms; } }

@media (min-width: 768px) and (max-width: 991px) {
	.sidebar-right ~ .sidebar-map .leaflet-right {
		right: 315px; } }

@media (min-width: 992px) and (max-width: 1199px) {
	.sidebar-right ~ .sidebar-map .leaflet-right {
		right: 400px; } }

@media (min-width: 1200px) {
	.sidebar-right ~ .sidebar-map .leaflet-right {
		right: 460px; } }

.sidebar-right.collapsed ~ .sidebar-map .leaflet-right {
	right: 40px; }
@media (min-width: 768px) {
	.sidebar-right.collapsed ~ .sidebar-map .leaflet-right {
		right: 55px; } }