::-ms-clear { display: none; }

@font-face {
	font-family: BerlinSans;
	src: url('../font/berlinsans.woff') format('woff');
}

body {
	padding: 0;
	margin: 0;
}

html, body, #map {
	height: 100%;
	font: 11pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}
@media (min-width: 768px) and (max-width: 1299px), (max-width: 350px) {
	body {
		font-size: 10pt;
	}
}

#map {
	background: #cb9b73;
	background: linear-gradient(#b05000, #e6e6e6);
}

#tips {
	height: 45px;
	vertical-align: middle;
	display: table-cell;
}
.navigateItem {
	position: absolute;
	right: 22px;
	margin-top: -15px;
}
.navigateItem .fa-image, .navigateItemPrev, .navigateItemNext {
	opacity: 0.7;
}
.navigateItemNext:hover, .navigateItemPrev:hover {
	opacity: 1;
}

#feedRss {
	font-size: 85%;
	color: #777;
}
#feedRss a:link, #feedRss a:hover, #feedRss a:visited {
	color: #777;
}
#feedRss > ul {
	margin-top: 5px;
}
#feedRss ul > li {
	left: -1em;
}

.theme {
	color: #b05000;
}

a {
	text-decoration: none;
}
a:link, a:visited, a:hover, .leaflet-container a {
	color: #b05000;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}

.sidebar-tabs > ul {
	list-style: none;
	padding: 0;
}

.sidebar-tabs img {
	width: 30px;
}

hr {
	height: 2px;
	background-color: #ccc;
	border: 0;
}

h3 {
	margin-bottom: 10px;
}

.anchor {
	text-align: right;
}

#minimap {
	text-align: center;
}
#minimap > img {
	max-width: 100%;
}
#minimap > map > area {
	cursor: pointer;
}

.leaflet-control-layers-toggle {
	width: 40px !important;
	height: 40px !important;
}

.comment {
	text-align: center;
	font-style: italic;
	font-size: 90%;
	color: #808080;
}
.comment:hover {
	text-decoration: none;
}

.ui-accordion .ui-accordion-content {
	border-top: 0;
	overflow: auto;
	height: 100%;
}
.ui-accordion-header {
	cursor: pointer;
}

.leaflet-contextmenu {
	display: none;
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	padding: 4px 0;
	background-color: white;
	cursor: default;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.leaflet-contextmenu a.leaflet-contextmenu-item {
	display: block;
	color: #222;
	font-size: 10pt;
	line-height: 20px;
	text-decoration: none;
	padding: 0 10px 0 7px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	cursor: default;
	outline: none;
}

.leaflet-contextmenu a.leaflet-contextmenu-item-disabled {
	opacity: 0.5;
}

.leaflet-contextmenu a.leaflet-contextmenu-item.over {
	background-color: #eee;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
}

.leaflet-contextmenu a.leaflet-contextmenu-item-disabled.over {
	background-color: inherit;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.leaflet-contextmenu-separator {
	border-bottom: 1px solid #ccc;
	margin: 5px 0;
}

.leaflet-control-locate
	a{color:#b05000; font-size:10pt;}
.leaflet-control-locate.active
	a{color:#2074B6}
.leaflet-control-locate.active.following
	a{color:#20b674}

.leaflet-control-minZoomIndicator {
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
	font-size: 10pt;
	font-weight: bold;
	border-radius: 5px;
	padding: 10px;
	z-index: 10;
	pointer-events: none;
}

@media (max-height: 350px) {
	.leaflet-control-zoom {
		display: none;
	}
}


.leaflet-bottom {
	margin-bottom: -5px;
	margin-right: -5px;
}

.leaflet-control-container > div:last-child {
	line-height: 20px;
	right: 5px;
	bottom: 5px;
}

.leaflet-control-container > div:last-child > div {
	border-radius: 3px;
}

.leaflet-control-attribution {
	white-space: nowrap;
}

#spinner {
	opacity: 0.85;
	width: 6em;
	filter: drop-shadow(0px 0px 10px #808080);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1500;
	pointer-events: none;
}

#modalPermalink {
	position: absolute;
	display: none;
	background-color: rgba(222, 222, 222, 0.9);
	top: 0;
	left: 30px;
	padding: 15px;
	font-weight: bold;
}
.btnCloseModal {
	position: absolute;
	right: 10px;
	background-color: transparent;
}
#inputPermalink {
	font: inherit;
	font-weight: normal;
	font-size: 10pt;
	min-width: 200px;
	min-height: 55px;
	word-break: break-all;
}
#btnCopyPermalink {
	margin-top: 5px;
	border: 0;
	border-radius: 4px;
	box-shadow: 1px 1px #ccc;
	background-color: #fff;
	font-weight: inherit;
	height: 26px;
	width: 100%;
}
#btnCopyPermalink:hover {
	background-color: #f4f4f4;
}

/* poi tab */
#pois .sidebar-body {
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	padding: 0;
	width: 100%;
}
.poi-results {
	display: none;
	height: auto;
	min-height: 10%;
	max-height: 70%;
	resize: vertical;
	position: relative;
	padding: 0 15px 15px;
	overflow-y: auto;
	box-shadow: -1px 0 5px rgba(0, 0, 0, 0.65) inset;
	background-color: rgba(0, 0, 0, 0.05);
}
.poi-results button {
	position: absolute;
	box-shadow: none;
	border: none;
	top: 20px;
	width: 26px;
	height: 26px;
	background-color: #fff;
}
#btnPoiResultsClear {
	display: none;
	right: 45px;
	padding: 0;
}
#btnPoiResultsView {
	right: 15px;
	padding: 0;
}
.poi-results-list {
	font-size: 90%;
}
.poi-results-list img {
	height: 26px;
	display: block;
}
.poi-results-list table {
	width: 100%;
}
.poi-results-list td {
	border-bottom: 1px solid #bbb;
	padding: 3px 1px;
}
.poi-results-list td:first-child {
	text-align: center;
	border-radius: 10px;
	width: 10px;
}
.poi-results-list tr {
	filter: saturate(70%);
}
.poi-results-list tr:hover {
	background-color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
	filter: saturate(100%);
}
.poi-icons {
	height: auto;
	padding: 0 15px;
	overflow-y: auto;
	flex: 1;
	position: relative;
}
.poi-icons table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}
.poi-icons td {
	padding: 0;
}
.poi-checkbox > label > img {
	float: left;
	height: 30px;
	margin: 1px 4px;
}
.poi-checkbox > label {
	display: inline-block;
	width: 100%;
	border-radius: 5px;
	white-space: nowrap;
	cursor: pointer;
	filter: saturate(70%);
}
.poi-checkbox-selected {
	background-color: rgba(255, 255, 255, 0.6);
	filter: saturate(100%) !important;
}
.poi-checkbox > label > input {
	display: none;
}
.poi-checkbox > label > span {
	display: inline-block;
	overflow: hidden;
	width: calc(100% - 40px);
	height: 30px;
	line-height: 30px;
}
.poi-checkbox > label > input:checked + span {
	font-weight: bold;
}
.poi-loading {
	pointer-events: none;
	opacity: 0.5;
}
.poi-checkbox > label:hover {
	filter: brightness(80%) saturate(100%);
	background-color: rgba(255, 255, 255);
}

/* walking tab */
#walking a img {
	margin: auto;
	padding: 5px 10px 5px 10px;
	display: block;
	filter: saturate(70%);
}
#walking a img:hover {
	filter: brightness(80%) saturate(100%);
}
#walkContainer {
	display: block;
	position: relative;
	margin: 2px 0 0 0;
	padding: 0 .5em 0 0;
	font-size: 100%;
}
#walkContainer > div {
	padding-left: 10px;
	font-size: 90%;
}
.walkLink {
	display: table;
	color: darkgreen;
	text-indent: -20px;
	padding-left: 20px;
	margin-bottom: 7px;
	cursor: pointer;
}
.walkLink:hover {
	background-color: rgba(255,255,255,0.6);
}

/* tour tab */
.tour-control {
	display: inline-block !important;
	font-size: 10pt !important;
	white-space: nowrap;
	box-shadow: none;
	border: none;
	height: 26px;
	width: 100%;
	margin: 4px 0 12px 0;
}
.tour-control button {
	border-radius: 4px;
}
#tourList {
	width: 70%;
	background-color: white;
}
#tourList:hover, .poi-results button:hover {
	background-color: #f4f4f4;
	color: black;
}
#tourFrame {
	height: calc(100% - 42px);
	width: 100%;
	border: none;
}
#tour .sidebar-body {
	width: 100%;
	text-align: center;
	overflow: hidden;
	padding: 0;
}

/* settings tab */
#settings label {
	font-size: 90%;
	display: block;
	margin: 0 0 10px 23px;
	text-indent: -23px;
	padding-left: 5px;
}
#inputOpacity {
	padding-top: 5px;
	display: none;
	opacity: 0.7;
	width: 150px;
	height: 23px;
	text-align: center;
}
#inputOpacity:hover {
	opacity: 1;
}
#inputOpacity input[type=range] {
    -webkit-appearance: none;
    width: 90%;
	padding-top: 0px;
	border: none;
}
#inputOpacity input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #bbb;
    border: none;
    border-radius: 3px;
}
#inputOpacity input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #b05000;
    margin-top: -4px;
	cursor: e-resize;
}
#inputOpacity input[type=range]:focus {
    outline: none;
}
#inputOpacity input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
#inputOpacity input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    background: #bbb;
    border: none;
    border-radius: 3px;
}
#inputOpacity input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #b05000;
	cursor: e-resize;
}
#inputOpacity input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

#inputOpacity input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}
#inputOpacity input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
#inputOpacity input[type=range]::-ms-fill-upper {
    background: #bbb;
    border-radius: 10px;
}
#inputOpacity input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #b05000;
	cursor: e-resize;
}
#inputOpacity input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
#inputOpacity input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}
#inputOverpass, #inputOpServer {
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #555;
	width: calc(100% - 100px);
	padding: 5px;
	margin: 5px;
}
#devTools {
	display: block;
	position: relative;
	padding-bottom: 5px;
}
#devTools div {
	padding: 5px 0 0 15px;
}

/* help tab */
#help img {
	box-sizing: border-box;
	max-width: 100%;
	margin: auto;
	display: block;
	padding: 0 15px 0 15px;
}
#helptabs img {
	float: left;
	padding: 0 5px 0 5px;
	width: 25px;
}

/* information tab */
#information ul {
	padding-left: 10px;
	list-style-type: none;
}
#information td:hover {
	filter: brightness(80%);
}
#myprofile {
	display: inline-block;
}
#myprofile img {
	float: left;
	margin-right: 5px;
	border: 1px solid #ccc;
	border-radius: 20px;
}

/* marker popups */
@media (max-width: 767px) {
	.popup-streetDesc {
		max-height: 200px !important;
	}
	.leaflet-control-layers-list, .leaflet-popup, .leaflet-control-minZoomIndicator, 
	.leaflet-control-geocoder-alternatives, .leaflet-control-geocoder-form-no-error {
		font-size: 9pt !important;
	}
}
.leaflet-right .leaflet-control-layers {
	transition: all 200ms;
}
.leaflet-control-layers-list, .leaflet-popup {
	font-size: 10pt;
}
.leaflet-popup-content {
	padding-right: 10px;
	margin: 0 10px 10px 19px;
}
.leaflet-popup-close-button {
	color: #777 !important;
}
.popup-edit, .popup-direct {
	top: 3px;
	position: absolute;
	color: #777 !important;
}
.popup-edit:hover, .popup-direct:hover, .leaflet-popup-close-button:hover {
	color: #b05000 !important;
}
.popup-edit {
	right: 25px;
}
.popup-direct {
	right: 45px;
	display: none;
}
.popup-header {
	margin: auto -20px 10px -20px;
	padding: 10px 0 5px 20px;
	border-bottom: 2px solid #ddd;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: rgba(200, 200, 200, 0.2);
}
.popup-header h3 {
	padding-right: 55px;
	margin: 0 auto 0;
}
.popup-header-sub {
	display: table-cell;
	font-style: oblique;
	font-weight: bold;
	padding-right: 10px;
	width: 100%;
	vertical-align: bottom;
}
.popup-tagContainer {
	display: table;
	outline: none;
}
.popup-tagIcon {
	display: table-cell;
	padding-right: 3px;
	min-width: 17px;
	color: #555;
}
.popup-tagValue {
	display: table-cell;
	text-indent: -5px;
	padding-left: 5px;
}
.popup-truncate {
	display: inline-block;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: -4px;
	text-indent: 0;
}
.popup-longDesc {
	display: block;
	overflow-y: auto;
	max-height: 150px;
	text-align: justify;
	padding-right: 3px;
}
.popup-streetSource {
	display: block;
	font-size: 80%;
	padding: 5px 0 0 30px;
}
.popup-ohContainer {
	cursor: pointer;
	min-width: 250px;
}
.popup-ohTable {
	display: none;
	cursor: default;
	font: 80% monospace;
	text-align: center;
	max-height: 170px;
	padding: 5px 0 5px 15px;
}
.popup-ohTable table { width: 100%; border-collapse: collapse; }
.popup-ohTable tr { border: 1px solid #fff; }
.popup-ohTable td { padding: 2px 0; }
.popup-ohTable tr.today { font-weight: bold; }
.popup-ohTable td.weekend { background: #ccc; }
.popup-ohTable td.workday { background: #ddd; }
.popup-ohTable td.times { background: #eee; }
.popup-imgContainer {
	margin-top: 5px;
	text-align: center;
}
.popup-imgContainer > img {
	border: 2px solid #ccc;
	border-radius: 5px;
}
.popup-imgAttrib, .popup-imgAttrib a:link, .popup-imgAttrib a:visited, .popup-imgAttrib a:hover {
	font-size: 6pt;
	color: #808080;
}
.popup-fhrs, .popup-fhrs > a > img {
	padding-right: 5px;
	display: table-cell;
	vertical-align: middle;
}
.popup-fhrs > a > img {
	width: 80px;
	filter: drop-shadow(0 0 2px #808080) saturate(50%);
}

.popup-imgBooking {
	width: 80px;
	vertical-align: bottom;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background-color: rgba(244, 244, 244, 0.95);
}
.leaflet-popup-content-wrapper {
	padding: 0 1px 1px 1px;
}
.leaflet-tooltip {
	font-size: 10pt;
	border-radius: 5px;
	color: #222;
}
.openColor-false {
	background-color: #c89696;
	background: linear-gradient(to right, #c89696, #ddd);
}
.openColor-true {
	background-color: #96c896;
	background: linear-gradient(to right, #96c896, #ddd);
}

.ui-tooltip {
	padding: 3px;
	position: absolute;
	z-index: 1200;
	max-width: 50px;
	background-color: rgba(244, 244, 244, 0.9);
	font-size: 60%;
	text-align: center;
	border: 1px solid rgba(204, 204, 204, 0.9);
}
.ui-widget-shadow {
	box-shadow: 2px 2px 5px #666666;
}
.ui-helper-hidden-accessible {
	display: none;
}

#xmasHat {
	z-index: 1;
	position: absolute;
	top: 5px;
	right: 40px;
	width: 50px;
	opacity: 0.85;
	filter: drop-shadow(1px 1px 2px);
	pointer-events: none;
}
#xmas > #xmasTitle {
	display: flex;
	padding-bottom: 5px;
	text-align: center;
	justify-content: center;
}
#xmas > #xmasTitle, #xmas > .comment {
	color: darkgreen;
}
#xmas > #xmasTitle > a {
	color: darkred;
}
