:root {
	--main-color: #a04900;
	--second-color: #ba5500;
	--text-color: #000000;
	--bg-hover-color: #f4f4f4;
	--scr-thumb: #cdcdcd;
	--scr-track: #f0f0f0;
	--popup-tag-long-height: 200px;
	--scroll-shadow: 100, 100, 100;
	--scroll-shadow-popup: 200, 200, 200;
}
#noscript {
	color: #f4e6d3;
	position: absolute;
	width: 100%;
	top: 50px;
	text-align: center;
	font-weight: bold;
	font-size: calc(1vw + 75%);
}
@keyframes spinner {
	from { transform: rotate(0deg) scale(0.8, -0.8); }
	to { transform: rotate(1turn) scale(0.8, -0.8); }
}
@font-face {
	font-family: BerlinSans;
	src: url('../font/berlinsans.woff2') format('woff2'), url('../font/berlinsans.ttf') format('truetype');
}
.spinner {
	position: fixed;
	display: inline-block;
	top: calc(50% - 48px);
	left: calc(50% - 48px);
	z-index: 1500;
	height: 100%;
	width: 100%;
	overflow: hidden;
	pointer-events: none;
}
.spinner svg circle {
	fill: rgba(255, 255, 255, 0.75);
	stroke: var(--main-color);
	stroke-width: 2px;
	transform: translate(-5px, -5px);
}
.spinner svg path {
	fill: var(--main-color);
	animation: spinner 1s infinite linear;
	transform-origin: center;
}
.theme-color { color: var(--main-color) !important; }
.theme-dropshadow { filter: drop-shadow(0px 2px 1px black); }
.theme-nowrap { white-space: nowrap; }
.theme-scroll {
	scroll-behavior: smooth;
	scrollbar-width: thin;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% 20px;
}
.theme-scroll::-webkit-scrollbar {
	width: 7px;
	background-color: var(--scr-track);
}
.theme-scroll::-webkit-scrollbar-thumb {
	background-color: var(--scr-thumb);
}

body {
	padding: 0;
	margin: 0;
	transition: background 2.5s;
}
body.preload {
	background: var(--second-color);
}
html, body, #map {
	height: 100%;
	font: normal 11pt Helvetica, Arial, sans-serif;
	color: var(--text-color);
}
#map {
	background: none;
}
@media (min-width: 768px) and (max-width: 1299px), (max-width: 400px) {
	body { font-size: 10pt; }
	#home-weather { font-size: 8.7pt; }
	#home-weather .fa-2x { font-size: 1.8em; }
}
@media (min-width: 768px) and (max-width: 1023px), (max-width: 400px) {
	#map { transition: margin-left 400ms ease-out; }
}

input, select {
	font-size: 10pt;
	color: var(--text-color);
}
input[type=text], input[type=date], input[type=number] {
	height: 28px;
}

#sidebar {
	display: none;
}
.sidebar-notif {
	position: absolute;
	width: 20px;
	height: 15px;
	font-size: 7pt;
	font-weight: bold;
	color: #ffffff;
	line-height: 15px;
	background-color: var(--second-color);
	border-radius: 10px 0 0 10px;
	right: 0;
	margin-top: 29px;
	border: 1px solid #dddddd;
	display: none;
	z-index: 1;
	border-right: 0;
	border-bottom: 0;
}

#home .sidebar-body {
	height: calc(100% - 70px);
}
#home-box, #holiday-xmas-msg {
	max-width: 500px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	transition: box-shadow 200ms linear;
}
#home-weather {
	display: table;
	min-height: 45px;
	width: 100%;
	cursor: pointer;
}
#home-weather, #home-new-feed ul {
	color: #51655f;
}
#home-weather > span {
	display: table-cell;
	vertical-align: middle;
}
#home-weather > span:nth-child(odd) {
	text-align: center;
	padding: 0 5px;
}
#home-weather > span:nth-child(even) {
	text-align: left;
	line-height: 1;
	padding-top: 2px;
}
#home-weather > span.home-weather-wind > span {
	white-space: nowrap;
}
#home-weather > span.home-weather-tide:last-child {
	white-space: nowrap;
	line-height: 1.5;
	padding-right: 5px;
}
#home-weather > span:nth-child(1) {
	color: #bbbbbb;
}
#home-weather > span:nth-child(3) {
	color: #8795bd;
}
#home-weather > span .fa-water, #home-weather > span .fa-turn-up, #home-weather > span .fa-turn-down {
	color: #61818a;
}
.weather-tooltip {
	line-height: 1.5;
	max-width: 150px !important;
}
#home-minimap {
	text-align: center;
	padding: 2px 2px 0 2px;
}
#home-minimap > img {
	max-width: 100%;
}
#home-minimap > map > area {
	cursor: pointer;
}
#home-tips {
	display: table;
	width: 100%;
	height: 40px;
}
#home-tips-text {
	display: table-cell;
	vertical-align: middle;
	padding: 2px;
}
#home-tips-text a {
	color: inherit;
}
#home-tips-button {
	display: table-cell;
	text-align: right;
	padding: 10px 2px;
}
#home .sidebar-body a i:hover, #settings-devtools h3:hover::after, .popup-openhrs .popup-tag-value:hover::after {
	color: black !important;
}
.easy-autocomplete + .leaflet-routing-remove-waypoint::after, #settings-overpass-query + .leaflet-routing-remove-waypoint::after {
	font: var(--fa-font-solid);
	content: '\f002';
	top: 6px;
}
.popup-navigate-background {
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 5px;
	backdrop-filter: blur(7px);
	padding: 2px;
}
.popup-navigate {
	display: none;
	font-size: 10pt;
	position: absolute;
	right: 25px;
	bottom: 18px;
}
.popup-navigate a:hover {
	color: #333333;
}

#home-new-feed {
	font-size: 75%;
	color: #666666;
	text-align: left;
	margin: 5px 0;
}
#home-new-feed ul {
	margin-top: 5px;
}
#home-new-feed li {
	font-family: monospace;
}
#home-new-feed .fa-ul {
	margin-left: 1.5em;
}
#home-new-feed a:link, #home-new-feed a:hover, #home-new-feed a:visited {
	color: inherit;
}
#home-new-feed li .co{
	font-family: monospace;
}
#home-osm-feed {
	display: none;
}
#home-osm-feed li .comment {
	display: block;
	width: 70%;
	text-overflow: ellipsis;
	overflow-x: hidden;
	text-align: left;
	white-space: nowrap;
	opacity: 0.75;
}
#home-osm-feed li:hover .comment {
	width: 100%;
	white-space: normal;
	opacity: 1;
}
footer {
	position: absolute;
	bottom: 0;
	line-height: 15px;
	background-color: #e5e5e5;
	width: 100%;
	min-width: 250px;
	text-align: center;
	white-space: nowrap;
}
footer > span {
	font: normal 10pt BerlinSans, Helvetica, Arial, sans-serif;
	color: #666666;
	padding: 5px 0;
	display: inline-block;
	vertical-align: middle;
	color: var(--main-color);
}

a {
	text-decoration: none;
}
a:link, a:visited, a:hover, .leaflet-container a, #pois-results-sort:hover {
	color: var(--main-color);
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}

hr {
	margin: 10px 0;
	height: 2px;
	background-color: rgba(255, 255, 255, 0.6);
	border: none;
}

h3 {
	margin-bottom: 10px;
}

.sidebar-anchor::before {
	content: '\f062';
	font: var(--fa-font-solid);
}
.sidebar-anchor {
	display: block;
	position: sticky;
	position: -webkit-sticky;
	bottom: 10px;
	margin-left: calc(100% - 13px);
	padding: 5px;
	width: 17px;
	background-color: white;
	opacity: 0.7;
	border-radius: 100% 0 0 100%;
	border-width: 1px 0 1px 1px;
	border-color: #cccccc;
	border-style: solid;
	text-align: center;
}
.sidebar-anchor:hover {
	text-decoration: none;
	color: black !important;
}

.comment, figcaption {
	text-align: center;
	font-style: italic;
	font-size: 90%;
	color: #666666;
}
.comment:hover {
	text-decoration: none;
}

.ui-accordion .ui-accordion-content {
	border-top: 0;
	overflow: hidden auto;
	height: 100%;
}
.ui-accordion-header {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.ui-accordion-header:hover {
	color: var(--main-color);
}
#settings-devtools h3::after, .popup-openhrs .popup-tag-value::after {
	position: absolute;
	font: var(--fa-font-solid);
	content: '\f0da';
	margin-left: 15px;
	color: var(--main-color);
	transition: transform 150ms;
	padding-top: 2px;
}
#settings-devtools h3.ui-accordion-header-active::after, .popup-openhrs .ui-accordion-header-active .popup-tag-value::after {
	transform: rotate(90deg);
}

.leaflet-bar.leaflet-control button, .leaflet-bar.leaflet-control a:not(.leaflet-control-geocoder-alternatives li a) {
	font-size: 11pt;
	padding: 0;
}
.leaflet-bar {
	border-radius: 10px;
}
.leaflet-bar a:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.leaflet-bar a:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.leaflet-touch .leaflet-touch .leaflet-bar {
	background-color: white;
}
.leaflet-touch .leaflet-bar a:first-child {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.leaflet-touch .leaflet-bar a:last-child {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.leaflet-control-layers-toggle, .leaflet-retina .leaflet-control-layers-toggle {
	background-image: none;
	width: 40px !important;
	height: 40px !important;
}
.leaflet-control-layers-separator {
	border-top: 2px solid rgba(255, 255, 255, 0.6);
}
.leaflet-control-layers-list input + span:before {
	margin: 0 3px;
	font: var(--fa-font-solid);
	font-size: 15px;
	display: inline-block;
	color: #bbbbbb;
}
.leaflet-control-layers-list input { display: none; }
.leaflet-control-layers-list input:checked + span:before { color: var(--main-color); }
.leaflet-control-layers-list input:checked:not(:disabled) + span:hover:before { color: var(--second-color); }
.leaflet-control-layers-list input:not(:checked,:disabled) + span:hover:before { color: #999999; }
.leaflet-control-layers-base input[type=radio] + span:before { content: '\f111'; }
.leaflet-control-layers-base input[type=radio]:checked + span:before { content: '\f058'; }
.leaflet-control-layers-overlays input[type=checkbox] + span:before { content: '\f0c8'; }
.leaflet-control-layers-overlays input[type=checkbox]:checked + span:before { content: '\f14a'; }
.leaflet-control-layers-list input:disabled + span { cursor: default; }
.leaflet-control-layers-list input:disabled + span:before { content: '\f00e'; }
.leaflet-contextmenu {
	display: none;
	box-shadow: 0 1px 5px rgb(0 0 0 / 40%);
	border-radius: 10px;
	padding: 4px 0;
	background-color: white;
	cursor: default;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.leaflet-contextmenu a.leaflet-contextmenu-item {
	display: block;
	color: #222222;
	font-size: 10pt;
	line-height: 22px;
	text-decoration: none;
	padding: 0 10px 0 7px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	cursor: default;
	outline: none;
}
.leaflet-contextmenu a.leaflet-contextmenu-item-disabled {
	opacity: 0.5;
}
.leaflet-contextmenu a.leaflet-contextmenu-item.over {
	background-color: #eeeeee;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
}
.leaflet-contextmenu a.leaflet-contextmenu-item-disabled.over {
	background-color: inherit;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
.leaflet-contextmenu-separator {
	border-bottom: 1px solid #dddddd;
	margin: 5px 0;
}
.leaflet-contextmenu .fa-fw {
	pointer-events: none;
}
.leaflet-contextmenu-item:last-child {
	line-height: 12px !important;
	text-align: center;
}
#contextmenu-item-copygeos {
	font-size: 70%;
	pointer-events: none;
}
.leaflet-control-locate
	a{color:var(--main-color);}
.leaflet-control-locate.active
	a{color:#2074B6}
.leaflet-control-locate.active.following
	a{color:#20b674}
#modal {
	display: none;
	box-shadow: 0 1px 5px rgb(0 0 0 / 40%);
	font-size: 10pt;
	min-width: 250px;
	max-width: calc(80vw - 50px);
	border-radius: 10px;
	margin-bottom: 15vh;
	transition: margin-bottom 400ms ease-out;
}
#modal-head {
	font-family: 'BerlinSans';
	background-color: rgba(255, 255, 255, 0.95);
	border-radius: 10px 10px 0 0;
	padding: 8px 30px 8px 10px;
	color: #333333;
	font-size: 12pt;
}
#modal-head .fa-fw {
	color: #555555;
}
#modal-body:not(:has(.modal-body-addr)) {
	padding: 15px;
	min-height: 20px;
}
#modal-body .modal-body-addr {
	display: block;
	padding: 15px;
	min-height: 20px;
}
@media (max-height: 350px) {
	.leaflet-control-zoom {
		display: none;
	}
}
.leaflet-control-attribution {
	max-width: 60vw;
	padding: 2px 5px;
	border-radius: 10px 0 0 0;
}
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
	font-size: 11px;
	font-size: 0.69rem;
	line-height: unset;
}
.leaflet-control-attribution .fa-circle-info:hover {
	color: #333333;
}
.leaflet-bar a:hover, .leaflet-bar button:enabled:hover {
	background-color: var(--bg-hover-color);
	color: black;
	text-decoration: none;
}
.leaflet-left .leaflet-control-scale {
	margin: 0 0 3px 10px;
}
.leaflet-left .leaflet-control-scale-line {
	text-shadow: none;
}
.leaflet-fade-anim .leaflet-popup {
	opacity: 0;
	-webkit-transition: opacity 0.1s linear;
	-moz-transition: opacity 0.1s linear;
	transition: opacity 0.1s linear;
}


#popup-userloc {
	text-align: center;
	line-height: 4;
	padding-top: 10px;
}

.control-mapillary-on-active {
	color: #2074B6;
}

.tutorial {
	display: none;
	width: calc(100vw - 120px);
	min-width: 100px;
	max-width: 120px;
	background-color: var(--main-color);
	padding: 8px;
	margin: 10px;
	color: white;
	border-radius: 10px;
	border: none;
	box-shadow: 0 1px 5px rgb(0 0 0 / 75%);
	font-size: 90%;
	text-align: center;
	z-index: 1200;
	position: absolute;
}
.tutorial-arrow {
	top: 6px;
	background: inherit;
	position: absolute;
	width: 16px;
	height: 16px;
	transform: rotate(45deg);
}
.tutorial-text {
	text-align: left;
}
.tutorial-text > span {
	opacity: 0.6;
}
button.tutorial-button {
	margin: 5px auto 0 auto;
	border: none;
	border-radius: 10px;
	background-color: white;
	font-size: 10pt;
	font-weight: bold;
	line-height: 26px !important;
	height: 26px !important;
	width: 70% !important;
	cursor: pointer;
}
button.tutorial-button:hover {
	background-color: var(--bg-hover-color);
	color: black;
}
button.tutorial-button:nth-of-type(2) {
	width: 26px !important;
}

#control-opacity {
	display: none;
	height: 28px;
	width: 145px;
	text-align: center;
	border-radius: 10px;
	background-color: #ffffff;
	margin-top: 30px;
}
#control-opacity input[type=range] {
	background-image: linear-gradient(to right, #eee, #bbb);
}
input[type=range] {
	display: block;
	-webkit-appearance: none;
	width: 110px;
	height: 10px;
	margin: 9px 15px 0 7px;
	padding: 0;
	border: none;
	background-color: #cccccc;
	border-radius: 10px;
	cursor: e-resize;
}
input[type=range]:focus {
	outline: none !important;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 25px;
	width: 25px;
	border: 2px solid #cccccc;
	border-radius: 50%;
	background-color: var(--main-color);
	cursor: e-resize;
}
input[type=range]:hover::-webkit-slider-thumb {
	background-color: #333333;
}
input[type=range]:hover::-moz-range-thumb {
	background-color: #333333;
}
input[type=range]::-moz-range-thumb {
	height: 20px;
	width: 20px;
	border: 2px solid #cccccc;
	border-radius: 50%;
	background-color: var(--main-color);
	cursor: e-resize;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 10px;
	border: none;
	border-radius: 10px;
}
input[type=range]:-moz-focusring {
	outline: 1px solid white;
	outline-offset: -1px;
}
#control-opacity .leaflet-popup-close-button, #modal .leaflet-popup-close-button {
	position: absolute;
	right: 5px;
	top: 0;
	width: 15px;
	font-weight: bold;
	font: bold 17pt Helvetica, Arial, sans-serif;
	cursor: pointer;
	color: var(--main-color);
}

.circleMarker {
	fill: #ffffff;
	stroke: var(--main-color);
}
.layer-visualclick {
	transition: d ease 0.35s;
}
.pois-results-circleMarker {
	color: #ffffff;
	-webkit-text-stroke: 2px var(--main-color);
}

.layer-ww2-radius {
	opacity: 0.4;
}
#control-ww2 {
	width: calc(100vw - 600px);
	height: 44px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
	border: none;
	max-width: 800px;
	min-width: 300px;
}
#control-ww2 a {
	position: absolute;
	display: table;
	margin: -10px;
	border: none;
	border-radius: 100%;
	width: 25px;
	height: 25px;
}
#control-ww2 a i {
	display: table-cell;
	vertical-align: middle;
	font-size: 20px;
}
#control-ww2 div {
	font-size: 90%;
	font-weight: bold;
	margin: 4px 0;
	color: white;
	text-shadow: 0px 0px 3px black;
}
#control-ww2 input {
	width: 97%;
	margin: auto;
}
@media (min-width: 1024px) and (max-width: 1299px) { #control-ww2 { width: calc(100vw - 500px); } }
@media (min-width: 768px) and (max-width: 1023px) { #control-ww2 { width: calc(100vw - 400px); } }
@media (max-width: 767px) { #control-ww2 { width: calc(100vw - 60px); } }

.sidebar-body button {
	color: var(--main-color);
	border: 1px solid #cccccc;
	width: 30px;
	height: 30px;
	background-color: white;
	border-radius: 10px;
	padding: 0 6px;
}
.sidebar-body button:hover:enabled {
	background-color: var(--bg-hover-color);
	cursor: pointer;
	color: black;
	border: 1px solid #cccccc;
	height: 30px;
}
button:disabled:not(.fancybox-button), button:disabled:not(.fancybox-button):hover {
	background-color: #eeeeee;
	cursor: default;
	pointer-events: none;
	color: #aaaaaa;
}
button:disabled::after, button:disabled:hover::after {
	color: #aaaaaa;
}
button:disabled ~ label {
	cursor: default !important;
}

/* poi tab */
#pois .sidebar-body {
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	padding: 0;
	width: 100%;
}
#pois-results {
	display: none;
	height: auto;
	max-height: 65%;
	min-height: 40px;
	resize: vertical;
	position: relative;
	padding: 0 15px 15px;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	border: 2px solid #cccccc;
	background-color: rgba(0, 0, 0, 0.1);
	pointer-events: none;
}
#pois-results button {
	display: block;
	position: sticky;
	position: -webkit-sticky;
	float: right;
	margin: -25px 0 5px 5px;
	top: 5px;
}
select {
	padding-left: 5px;
	background-color: white;
	border: 1px solid #cccccc;
	border-radius: 10px;
	height: 30px;
	cursor: pointer;
}
select:hover:enabled, button:hover:enabled:not(.fancybox-button) {
	background-color: var(--bg-hover-color);
	color: black !important;
}
#pois-results-list {
	display: none;
	font-size: 90%;
	height: auto;
	width: 100%;
	text-align: left;
}
#pois-results-list img, .eac-category img[data-key='poi'] {
	height: 24px;
	display: block;
	object-fit: none;
	width: 24px;
	object-position: -4px -4px;
	border-radius: 5px;
	outline: 1px solid rgba(0, 0, 0, 0.2);
	outline-offset: -1px;
}
#pois-results-list td:first-child .fa-lg {
	opacity: 0.75;
}
#pois-results-list table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 3px;
}
#pois-results-list td {
	padding: 3px 2px;
}
#pois-results-list td:first-child {
	text-align: center;
	border-radius: 5px 0 0 5px;
	width: 10px;
}
.popup-tag-value .fa-fw, #pois-results-list td:last-child .fa-fw {
	font-size: 115%;
	width: 1.4em;
}
#pois-results-list td:last-child .fa-fw {
	height: 1.4em;
}
#pois-results-list td span {
	display: block;
	padding: 0 !important;
}
#pois-results-list tr {
	border-bottom: 2px solid #ececec;
}
#pois-results-list tr:last-child {
	border-bottom: none !important;
}
#pois-results-list tr:hover {
	background-color: rgba(190, 190, 190, 0.5);
	cursor: pointer;
}
#pois-results-list .openhrs-color-depends, #pois-results-list .openhrs-color-undefined {
	background: linear-gradient(to right, rgba(153, 153, 153, 0.4), transparent);
}
#pois-results-sort {
	color: #777777;
}
.pois-result-selected {
	background-color: rgba(255, 255, 255, 0.5);
}
#pois-filter {
	position: relative;
	top: 0px;
	height: 28px;
	margin: 14px 0;
}
#pois-filter-in {
	border: 1px solid #cccccc;
	border-radius: 10px;
	line-height: 28px;
	padding: 0 24px 0 12px;
	width: calc(100% - 38px);
}
#pois-group a {
	display: none;
}
#pois-icons {
	height: auto;
	padding: 0 3%;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	flex: 1;
	position: relative;
}
#pois-bookm {
	width: auto;
	position: absolute;
	margin: 12px;
	right: 2px;
	top: 36px;
}
#pois-bookm label {
	width: auto;
	padding: 2px;
}
.pois-checkbox {
	width: calc(50% - 4px);
	display: inline-block;
	margin: 2px;
}
@media (min-width: 600px) and (max-width: 767px) {
	.pois-checkbox {
		width: calc(33% - 4px);
	}
}
.pois-checkbox > label {
	display: inline-block;
	width: 100%;
	border-radius: 5px;
	white-space: nowrap;
	cursor: pointer;
	transition: background-color 100ms;
}
.pois-checkbox > label:hover {
	background-color: rgba(190, 190, 190, 0.5);
}
.pois-checkbox > label > img {
	float: left;
	height: 24px;
	margin: 3px 4px 3px 2px;
	width: 24px;
	object-position: -4px -4px;
	object-fit: none;
	border-radius: 5px;
	outline: 2px solid rgba(0, 0, 0, 0.2);
	outline-offset: -1px;
}
.pois-checkbox > label > input {
	display: none;
}
.pois-checkbox > label > span {
	display: inline-block;
	overflow: hidden;
	width: calc(100% - 40px);
	height: 28px;
	line-height: 30px;
}
.pois-checkbox-selected {
	background-color: rgba(255, 255, 255, 0.8);
	font-weight: bold;
}
.pois-loading {
	pointer-events: none;
	opacity: 0.5;
}

/* walking tab */
#walking .comment {
	padding-top: 5px;
	font-size: 75%;
}
#walking a img {
	padding: 5px 10px 5px 10px;
	border-radius: 20px;
	background-color: #ffffff;
}
#walk-container {
	margin: 10px 0;
}
#walk-desc figure {
	margin: 0 3%;
}
#walk-list {
	width: calc(100% - 35px);
	margin: 0 5px 10px 0;
}
#walk-select {
	position: absolute;
}
#walk-container-pdf li {
	margin-bottom: 10px;
}
#thennow .sidebar-body {
	overflow-y: scroll;
}
#walk-desc img, #thennow img {
	width: 100%;
	max-width: 500px;
	border: 2px solid #cccccc;
	border-radius: 5px;
	margin: 5px auto auto auto;
	display: block;
}
#thennow figure {
	margin: 10px 3%;
}
#thennow figcaption, #walk-desc figcaption {
	margin-top: 5px;
	text-align: justify;
	font-style: normal;
}
#thennow img {
	cursor: zoom-in;
}
.tooltip-thennow {
	text-align: center;
	padding: 0;
}
.tooltip-thennow img {
	width: 100%;
	min-width: 150px;
	filter: grayscale(1) sepia(0.3);
	border-radius: 10px 10px 0 0;
}
.tooltip-thennow span {
	padding: 0 5px;
	white-space: nowrap;
}

/* tour tab */
#tour-controls {
	display: inline-block;
	font-size: 10pt;
	white-space: nowrap;
	height: 30px;
	width: 100%;
	padding: 8px 0;
}
#tour-controls-list {
	width: calc(100% - 100px);
	margin: 0 5px;
}
#tour-frame {
	height: calc(100% - 46px);
	width: 100%;
	border: none;
}
#tour-loading, #thennow-loading {
	display: none;
	margin-top: 20px;
	position: absolute;
	width: 100%;
	color: #aaaaaa;
	font-size: 14pt;
	text-align: center;
}
#tour .sidebar-body {
	width: 100%;
	text-align: center;
	overflow: hidden;
	padding: 0;
}

/* settings tab */
#settings .sidebar-body .slider, #settings .sidebar-body button, #settings .sidebar-body select, #settings .sidebar-body input {
	margin-left: auto;
}
#settings .sidebar-body {
	text-align: left;
}
#settings-options {
	margin: 0 3%;
	font-size: 90%;
}
.switch {
	position: relative;
	height: 24px;
}
.switch input {
	display: none;
}
.slider {
	position: relative;
	background-color: #bbbbbb;
	border-radius: 24px;
	width: 50px;
	cursor: pointer;
}
.slider::before {
	position: absolute;
	content: '';
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	border-radius: 50%;
	transition: transform 200ms linear;
}
input:not(:checked):hover + .slider {
	background-color: #999999;
}
input:checked + .slider {
	background-color: var(--second-color);
}
input:checked:hover + .slider {
	background-color: var(--main-color);
}
input:checked + .slider::before {
	transform: translateX(26px);
}
input:indeterminate + .slider::before {
	transform: translateX(13px);
	opacity: 0.5;
}
.settings-label {
	display: flex;
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	margin: 7px 0 0 0;
	padding-bottom: 7px;
}
.settings-label label:first-child {
	margin: auto 5px auto 0;
	flex: min-content;
}
.settings-label:last-child {
	border-bottom: none;
}
.settings-checkbox-small {
	line-height: 20px;
	display: inline-block;
	margin-top: 5px;
}
.settings-checkbox-small label {
	margin-left: 5px;
}
#settings-overpass-query {
	width: calc(100% - 40px);
	max-width: 90%;
	padding-right: 22px !important;
	position: relative;
	margin: 0 !important;
}
#settings-overpass-attic, #settings-overpass-query, #settings-overpass-server, #settings-overpass-cache, #settings-reverse-server {
	margin: 5px 0 5px 5px;
}
#settings-overpass-query, #settings-overpass-attic, #settings-overpass-cache {
	border: 1px solid #cccccc;
	border-radius: 10px;
	padding: 0 10px;
	line-height: 28px;
}
#settings-overpass-cache {
	width: 50px;
}
#settings-devtools {
	display: block;
	position: relative;
	top: 5px;
	border-top: 1px solid rgba(255, 255, 255, 0.6);
}
#settings-devtools > div {
	margin: 0 3%;
	font-size: 90%;
}
#settings-devtools > div p {
	margin: 10px 0;
}
#settings-devtools > div p:first-child {
	margin-top: 0;
}

/* information tab */
#info ul {
	padding-left: 10px;
	list-style-type: none;
}
#info-software > ul {
	margin: 5px 0;
	font-size: 90%;
}
#info td:hover {
	filter: brightness(80%);
	transition: filter 100ms;
}
#info-profile {
	display: inline-block;
}
#info-profile p {
	margin-top: 0;
}
#info-profile img {
	cursor: pointer;
	width: 90px;
	float: left;
	margin-right: 10px;
	border: 2px solid #cccccc;
	border-radius: 100% 100% 10px 10px;
	shape-outside: margin-box;
}
.info-links {
	text-align: center;
	line-height: 20px;
}
#info-privacy .fa-border {
	border: 1px solid #cccccc;
	border-radius: 5px;
	background-color: white;
}

/* marker popups */
@media (max-width: 767px) {
	.leaflet-control-layers-list, .leaflet-popup, #modal, 
	.leaflet-control-geocoder-alternatives, .leaflet-control-geocoder-form-no-error {
		font-size: 9pt !important;
	}
	.popup-img-item {
		max-height: 175px !important;
	}
	.popup-fhrs > a > img {
		height: 38px;
	}
	#btnPoiResultsNext {
		display: none !important;
	}
}
.leaflet-control-layers {
	border-radius: 10px;
}
.leaflet-right .leaflet-control-layers {
	transition: padding 150ms;
}
.leaflet-control-layers label, .leaflet-popup {
	cursor: default;
	font-size: 10pt;
	line-height: 1.3;
}
.leaflet-control-layers-expanded {
	box-shadow: 0 1px 5px rgb(0 0 0 / 40%) !important;
}
.leaflet-control-layers-expanded, #modal {
	background-color: rgba(240, 240, 240, 0.8);
	border: none !important;
	backdrop-filter: blur(7px);
}
.leaflet-control-layers .hideLayer {
	display: none;
}
.control-layers-title {
	font-weight: bold;
	color: var(--main-color);
	margin-top: 5px;
}

a.control-layers-title {
	display: block;
	text-align: right;
	margin-top: 0;
}
.leaflet-control-layers label {
	cursor: pointer;
}
.leaflet-popup-content {
	min-width: 150px;
	margin: 13px 19px;
	line-height: 1.4;
	font-size: unset;
}
.leaflet-container a.leaflet-popup-close-button {
	top: 0;
	right: -14px;
	width: 15px;
	height: 15px;
	line-height: 12px;
	background-color: #eaeaea;
	border: 3px solid #cccccc;
	border-radius: 100%;
	padding: 3px;
	color: var(--main-color);
	font-weight: bold;
}
.leaflet-container a.leaflet-popup-close-button:hover, #modal div.leaflet-popup-close-button:hover, #control-opacity div.leaflet-popup-close-button:hover, .popup-header-button:hover {
	color: #333333;
}
.popup-header-button {
	float: right;
	position: relative;
	color: var(--main-color);
	padding-left: 5px;
	top: -2px;
}
.popup-bookmark > .fa-solid {
	color: goldenrod;
}
.popup-header {
	margin: auto -20px 10px -20px;
	padding: 10px 11px 5px 11px;
	border-bottom: 2px solid #dddddd;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: rgba(200, 200, 200, 0.2);
}
.popup-header h3 {
	margin: 0 auto 0;
	overflow: hidden;
}
.popup-header-sub {
	display: table-cell;
	font-style: oblique;
	font-weight: bold;
	width: 100%;
	vertical-align: bottom;
	overflow: hidden;
}
.popup-fhrs {
	position: relative;
	float: right;
	clear: right;
	padding: 2px 0 0 2px;
}
.popup-fhrs > a > img {
	white-space: nowrap;
	border-radius: 5px;
	border: 1px solid #000000;
	filter: saturate(50%);
}
.popup-body {
	min-height: 5px;
}
.popup-tag {
	display: table;
	outline: none;
}
.popup-tag-icon {
	display: table-cell;
	padding-right: 3px;
	min-width: 17px;
	color: #555555;
}
.popup-tag-value {
	display: table-cell;
	text-indent: -5px;
	padding-left: 5px;
}
.popup-tag-value strong {
	margin-right: 4px;
}
.popup-tag-value-truncate {
	display: inline-block;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: -5px;
	text-indent: 0;
}
.popup-tag-long {
	display: block;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	max-height: var(--popup-tag-long-height);
	text-align: justify;
	padding-right: 3px;
}
.popup-tag-long .popup-tag-icon {
	position: sticky;
	position: -webkit-sticky;
	top: 2px;
	display: block;
}
@media (max-height: 640px) {
	.popup-tag-long {
		max-height: calc(var(--popup-tag-long-height) / 2);
	}
}
.popup-notes .fa-times { color: red; }
.popup-notes .fa-check { color: green; }
.popup-comment {
	display: block;
	font-size: 80%;
	text-align: right;
	color: #666666;
	font-style: italic;
}
.popup-openhrs .popup-tag-value {
	width: 100%;
	padding-right: 15px;
	cursor: pointer;
}
.popup-openhrs-table, .popup-bustime-table {
	text-align: center;
}
.popup-openhrs-table {
	display: none;
	cursor: default;
	max-height: 170px;
	padding: 5px 0 5px 15px;
}
.popup-bustime-table {
	border-collapse: collapse;
	margin: 5px 0;
	max-height: 108px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.popup-openhrs-table table { width: 100%; border-collapse: collapse; }
.popup-openhrs-table tr, .popup-bustime-table tr { font: 80%/1.2 monospace; border: 1px solid white; }
.popup-openhrs-table td { padding: 2px 0; }
.popup-openhrs-table tr.today { font-weight: bold; }
.popup-openhrs-table td.weekend { background-color: #cccccc; }
.popup-openhrs-table td.workday { background-color: #dddddd; }
.popup-openhrs-table td.times, .popup-bustime-table tr { background-color: #eeeeee; }
.popup-bustime-table tr { text-align: left; }
.popup-bustime-table tr:nth-child(1) { font-weight: bold; color: black; }
.popup-bustime-table td { padding: 2px; }
.popup-bustime-table td:nth-child(1) { font-weight: bold; }
.popup-bustime-table td:nth-child(2) { width: 100%; }
.popup-bustime-table td:nth-child(3) { white-space: nowrap; text-align: right; }
#img0 {
	display: block;
}
.popup-img {
	margin-top: 5px;
	border: 2px solid #cccccc;
	border-radius: 5px;
	text-align: center;
	overflow: hidden;
	background-color: #dddddd;
}
.popup-img-item.notloaded {
	height: 25px;
}
.popup-img-item {
	display: none;
	height: 200px;
	transition: height 200ms ease-in-out;
}
.popup-img-item > a {
	height: inherit;
	max-height: inherit;
	display: block;
	outline: 0;
	cursor: zoom-in;
}
.popup-img-item:not(.notloaded) > a::after {
	display: block;
	position: sticky;
	content: '';
	height: inherit;
	bottom: 0;
	pointer-events: none;
	box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
	max-height: inherit;
}
.popup-img-item > a > img {
	height: inherit;
	max-height: inherit;
	width: 100%;
	object-position: center 75%;
	object-fit: cover;
	transition: transform 250ms ease-in-out;
}
.popup-img-item > a:hover > img {
	transform: scale(1.1);
}
.popup-img-attrib {
	position: sticky;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.75);
	backdrop-filter: blur(5px);
	transition: padding-right 200ms ease-in-out;
}
.popup-img-attrib a, .popup-img-attrib span {
	height: 25px;
	line-height: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 6pt;
}
.popup-img-attrib, .popup-img-attrib a, .popup-navigate {
	color: #808080;
}
.popup-img-attrib .imgOpen {
	color: var(--main-color);
	font-weight: bold;
}

.popup-facilities span {
	display: inline-block;
}
.popup-tag-value-yes, .popup-openhrs-color-true { color: #006400; }
.popup-tag-value-limited, .popup-openhrs-color-depends { color: #808000; }
.popup-tag-value-no, .popup-openhrs-color-false { color: #8b0000; }
.popup-tag-value-facility { padding-left: 5px; white-space: nowrap; }
.popup-tag-value-recycling { padding-left: 5px; color: #62745f; }
.popup-tag-value-payment { padding-left: 5px; color: #714b83; }
.popup-tag-value-diet { padding-left: 5px; color: #00a275; }
.openhrs-color-true { background: linear-gradient(to right, rgba(0, 100, 0, 0.4), transparent); }
.openhrs-color-false { background: linear-gradient(to right, rgba(139, 0, 0, 0.4), transparent); }

.fancybox-button .fa-2x, .fancybox-close-small .fa-2x {
	opacity: 0.7;
}
.fancybox-button .fa-2x:hover {
	opacity: 1;
}
.fancybox-button--pause .fa-solid:first-child, .fancybox-button--play .fa-solid:nth-child(2), .noslideshow .fancybox-button--play {
	display: none;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip, .leaflet-tooltip {
	background-color: rgba(244, 244, 244, 0.8) !important;
	backdrop-filter: blur(7px);
}
.leaflet-popup-tip {
	margin: -17px auto 0;
}
.leaflet-popup-content-wrapper {
	padding: 0 1px 1px 1px;
}
.leaflet-tooltip {
	pointer-events: none;
	font-size: 10pt;
	border-radius: 10px;
	color: #222222;
}
.leaflet-tooltip.leaflet-clickable {
	pointer-events: all;
	cursor: pointer;
}
.tooltip-icons {
	color: #777777;
	min-width: 16px;
}

.ui-tooltip {
	padding: 5px 10px;
	position: absolute;
	z-index: 1200;
	max-width: 100px;
	background-color: rgba(75, 75, 75, 0.95);
	color: white;
	font-size: 8pt;
	text-align: center;
	border-radius: 10px;
	border: 1px solid #cccccc;
}
.ui-helper-hidden-accessible {
	display: none;
}

#holiday-bexhillday {
	z-index: 1;
	position: absolute;
	top: 5px;
	right: 40px;
	width: 65px;
	filter: drop-shadow(1px 1px 2px #666);
}
@keyframes holiday-xmas-hat-anim {
	10% { transform: rotate(10deg); }
	30% { transform: rotate(-8deg); }
	50% { transform: rotate(6deg); }
	70% { transform: rotate(-4deg); }
	90% { transform: rotate(2deg); }
}
#holiday-xmas-hat:focus { animation: holiday-xmas-hat-anim 1.5s ease-out; }
#holiday-xmas-hat:active { animation: none; }
#holiday-xmas-hat {
	z-index: 1;
	position: absolute;
	top: 5px;
	right: 40px;
	width: 50px;
	opacity: 0.85;
	filter: drop-shadow(0px 0px 3px #000000);
	transition: opacity 150ms linear;
}
.holiday-xmas-tree {
	filter: drop-shadow(0px 10px 9px #ffffff);
	opacity: 0.9;
}
@keyframes holiday-xmas-msg-anim {
	to { background-position: 0 500px; }
}
#holiday-xmas-msg {
	font-weight: bold;
	padding: 5px;
	margin-top: 10px;
	cursor: pointer;
	background-image: url('../../tour/itemXmas/img/popup-bg.png');
	background-repeat: repeat-y;
	background-color: rgba(255, 255, 255, 0.6);
	animation: holiday-xmas-msg-anim 15s linear infinite paused;
}
.popup-xmas .leaflet-popup-content-wrapper, .leaflet-tooltip.popup-xmas, #holiday-xmas-msg {
	background-blend-mode: darken;
}
#holiday-xmas-msg:hover {
	box-shadow: inset 0 0 4px darkred;
	animation-play-state: running;
}
#holiday-xmas-msg > #xmasTitle {
	display: flex;
	padding: 5px 0;
	text-align: center;
	justify-content: center;
}
#holiday-xmas-msg > #xmasTitle, #holiday-xmas-msg > .comment {
	color: darkgreen;
}
#holiday-xmas-msg > #xmasTitle > span {
	color: var(--main-color);
	padding: 0 5px;
}
#holiday-xmas-msg .fa-solid {
	margin: 15px auto;
}
.popup-xmas .leaflet-popup-content-wrapper, .leaflet-tooltip.popup-xmas {
	background-image: url('../../tour/itemXmas/img/popup-bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.popup-scarecrow .popup-header {
	background-color: rgba(0, 40, 175, 0.3);
}
.popup-xmas .popup-header {
	background-color: rgba(0, 175, 0, 0.3);
}
.popup-xmas .popup-img img {
	border-color: #966464;
}
.popup-xmas .popup-img-attrib, .popup-xmas .popup-img-attrib a {
	font-size: 8pt;
	color: green;
}
.competition-award {
	text-shadow: 0.5px 0.5px 0 #555555;
}
.leaflet-popup .competition-award {
	position: absolute;
	top: 30px;
	right: 15px;
	font-size: 40pt;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 0 0 15px white;
	-webkit-text-stroke: 2px rgba(0, 0, 0, 0.2);
}
.competition-commended0 { color: #800080; }
.competition-commended1 { color: #ffd700; }
.competition-commended2 { color: #bbbbbb; }
.competition-commended3 { color: #d2b48c; }
.competition-commended4, .competition-commended5, .competition-commended6 { color: #4d7480; }

.fa-beat {
	--fa-animation-iteration-count: 1;
}
.fa-fade {
	--fa-animation-iteration-count: 10;
}
.fa-bounce {
	--fa-animation-iteration-count: 4;
	--fa-bounce-height: -4px;
}
.fa-beat-fade {
	--fa-animation-iteration-count: 2;
	--fa-animation-delay: 350ms;
}

.leaflet-visualclick-icon {
	border-radius: 100%;
	pointer-events: none;
}
.leaflet-visualclick-icon:after {
	content: '';
	border-radius: 100%;
	height: 20px;
	width: 20px;
	position: absolute;
	margin-left: -10px;
	margin-top: -10px;
	pointer-events: none;
	box-shadow: 0 0 0 2px var(--main-color);
	animation: visualclick-pulsate 0.35s linear;
}
@keyframes visualclick-pulsate {
	from {
		transform: scale(4);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 0.8;
	}
}
input:focus, select:focus, textarea:focus, button:focus {
	outline: none;
}
kbd {
	border-radius: 5px;
	border: 1px solid rgba(180, 180, 180, 0.5);
	font-size: .85em;
	font-weight: 700;
	padding: 0 2px;
	margin: 0 2px;
	white-space: nowrap;
}

/* Control.Loading.js */
.leaflet-control-loading, .leaflet-control-layer-container {
	display: none;
	pointer-events: none;
}
.leaflet-control-loading.is-loading, .leaflet-control-layer-container.is-loading {
	display: block;
}
