.spinner {
	opacity: 0.85;
	position: absolute;
	z-index: 1500;
	background: url('../../assets/img/spinner.svg') center no-repeat;
	height: 100%;
	width: 100%;
	pointer-events: none;
}
:root {
    --main-color: #b05000;
	--second-color: #be6f2e;
	--btn-hover-color: #f4f4f4;
	--popup-long-desc-height: 200px;
}
.theme {
	color: var(--main-color);
}
.nowrap {
	white-space: nowrap;
}
#map {
	background: var(--second-color);
	transition: background 2.5s;
}
@font-face {
	font-family: BerlinSans;
	src: url('../font/berlinsans.woff') format('woff');
}

body {
	padding: 0;
	margin: 0;
}

html, body, #map {
	height: 100%;
	font: 11pt 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
@media (min-width: 768px) and (max-width: 1299px), (max-width: 400px) {
	body {
		font-size: 10pt;
	}
	#map {
		transition: margin-left 400ms ease-out;
	}
}
input, select, button {
	font-size: 10pt;
}

input[type=text], input[type=date], input[type=number] {
	height: 28px;
}

#sidebar {
	display: none;
}
.sidebar-notif {
	position: absolute;
	line-height: 1.3;
	background-color: var(--second-color);
	border-radius: 5px;
	right: 2px;
	margin-top: 28px;
	font-size: 10px;
	color: #fff;
	padding: 1px 2px;
	box-shadow: 0 0 2px black;
	display: none;
	z-index: 1;
}


#homeBox, #xmasMsg {
	max-width: 500px;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	transition: box-shadow 100ms linear;
}
#weather {
	display: table;
	width: 100%;
	color: #536862;
	height: 55px;
	cursor: pointer;
}
#weather span {
	display: table-cell;
	vertical-align: middle;
	padding: 2px 5px 2px 0;
	text-align: left;
}
#weather span img {
	width: 50px;
	display: block;
	margin: 0 auto;
}
#weather span .fas {
	color: #8795bd;
}
#weather .comment {
	text-align: center;
}
#tips {
	display: table;
	width: 100%;
	height: 40px;
}
#tipsText {
	display: table-cell;
	vertical-align: middle;
	padding: 3px;
}
#tipsButton {
	display: table-cell;
	text-align: right;
	padding: 10px 3px;
}
#home .sidebar-body a i:hover {
	color: black;
}
.navigateItem {
	position: absolute;
	right: 17px;
	bottom: 6px;
}
.navigateItem a:hover {
	color: #333;
}

#newFeed {
	font-size: 75%;
	color: #666;
	text-align: left;
}
#newFeed ul {
	margin-top: 5px;
	color: #536862;
}
#newFeed ul > li {
	left: -1em;
}
#newFeed a:link, #newFeed a:hover, #newFeed a:visited {
	color: inherit;
}
#osmFeed {
	display: none;
}

a {
	text-decoration: none;
}
a:link, a:visited, a:hover, .leaflet-container a {
	color: var(--main-color);
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}

hr {
	height: 2px;
	background-color: rgba(255, 255, 255, 0.6);
	border: 0;
}

h3 {
	margin-bottom: 10px;
}

.anchor::before {
	content: '\f062';
	font-family: 'Font Awesome 5 Pro';
	font-weight: 900;
}
.anchor {
	display: block;
	position: sticky;
	position: -webkit-sticky;
	bottom: 10px;
	margin-left: calc(100% - 13px);
	padding: 5px;
	width: 17px;
	background-color: white;
	opacity: 0.7;
	border-radius: 100% 0 0 100%;
	border-width: 1px 0 1px 1px;
	border-color: #ccc;
	border-style: solid;
	text-align: center;
}
.anchor:hover {
	text-decoration: none;
	color: black;
}

#minimap {
	text-align: center;
}
#minimap > img {
	max-width: 100%;
}
#minimap > map > area {
	cursor: pointer;
}


.comment {
	text-align: center;
	font-style: italic;
	font-size: 90%;
	color: #808080;
}
.comment:hover {
	text-decoration: none;
}

.ui-accordion .ui-accordion-content {
	border-top: 0;
	overflow: auto;
	height: 100%;
}
.ui-accordion-header {
	cursor: pointer;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.ui-accordion-header:hover {
	color: var(--main-color);
}
#devTools h3::after, .popup-ohContainer .popup-tagValue::after {
	position: absolute;
	font-family: 'Font Awesome 5 Pro';
	font-weight: 900;
	content: '\f0da';
	margin-left: 15px;
	color: var(--main-color);
	transition: transform 400ms;
}
#devTools h3.ui-accordion-header-active::after, .popup-ohContainer .ui-accordion-header-active .popup-tagValue::after {
	transform: rotate(90deg);
}

.leaflet-control-layers-toggle {
	width: 40px !important;
	height: 40px !important;
}
.leaflet-contextmenu {
	display: none;
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
	border-radius: 4px;
	padding: 4px 0;
	background-color: white;
	cursor: default;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.leaflet-contextmenu a.leaflet-contextmenu-item {
	display: block;
	color: #222;
	font-size: 10pt;
	line-height: 22px;
	text-decoration: none;
	padding: 0 10px 0 7px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	cursor: default;
	outline: none;
}
.leaflet-contextmenu a.leaflet-contextmenu-item-disabled {
	opacity: 0.5;
}
.leaflet-contextmenu a.leaflet-contextmenu-item.over {
	background-color: #eee;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
}
.leaflet-contextmenu a.leaflet-contextmenu-item-disabled.over {
	background-color: inherit;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
.leaflet-contextmenu-separator {
	border-bottom: 1px solid #ddd;
	margin: 5px 0;
}
.leaflet-contextmenu .fa-fw {
	pointer-events: none;
}
#copyGeos {
	font-size: 70%;
	pointer-events: none;
}
.leaflet-control-locate
	a{color:var(--main-color); font-size:10pt;}
.leaflet-control-locate.active
	a{color:#2074B6}
.leaflet-control-locate.active.following
	a{color:#20b674}
#msgStatus {
	display: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	font-size: 10pt;
	min-width: 250px;
	max-width: calc(80vw - 50px);
	border-radius: 10px;
	margin-bottom: 15vh;
	transition: margin-bottom 400ms ease-out;
}
#msgStatusHead {
	font-family: 'BerlinSans';
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px 10px 0 0;
	padding: 8px 30px 8px 10px;
	color: #333;
	font-size: 12pt;
}
#msgStatusHead .fa-fw {
	color: #555;
}
#msgStatusBody {
	padding: 15px;
	border-radius: 0 0 10px 10px;
	min-height: 20px;
}
#msgStatusBody .msgStatusBodyAddr {
	display: block;
}
@media (max-height: 350px) {
	.leaflet-control-zoom {
		display: none;
	}
}
.leaflet-control-attribution {
	white-space: nowrap;
	border-radius: 4px;
	line-height: 20px;
}
.leaflet-control-attribution .fa-info-circle:hover {
	color: #333;
}
.leaflet-bar a:hover {
	background-color: var(--btn-hover-color);
}
.leaflet-control-layers-toggle {
	background-image: url(../img/leaflet/layers.png);
}
.leaflet-retina .leaflet-control-layers-toggle {
	background-image: url(../img/leaflet/layers-2x.png);
}
.leaflet-left .leaflet-control-scale {
	margin: 0 0 3px 10px;
}

#noscript {
	color: #f4e6d3;
	position: absolute;
	width: 100%;
	top: 50px;
	text-align: center;
	font-weight: bold;
	font-size: calc(1vw + 75%);
}

#userLoc h3 {
	text-align: center;
	margin: 7px 0 14px 0;
}

.modalTutor {
	position: absolute;
	width: 115px;
	background-color: rgba(75, 75, 75, 0.95);
	padding: 8px;
	margin: 10px;
	color: white;
	border-radius: 5px;
	border: none;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	font-size: 90%;
	text-align: left;
	z-index: 1100;
}
.modalTutorArrow {
	content: '';
	top: 5px;
	background: inherit;
	position: absolute;
	width: 16px;
	height: 16px;
	transform: rotate(45deg);
	z-index: -1;
}
.modalButton {
	margin-top: 5px;
	border: 0;
	border-radius: 4px;
	box-shadow: 1px 1px #ddd;
	background-color: white;
	font-weight: bold;
	line-height: 26px !important;
	height: 26px !important;
	width: 100% !important;
	cursor: pointer;
}
.modalButton:hover {
	background-color: var(--btn-hover-color);
}

.layerProw {
	filter: blur(1px) hue-rotate(130deg);
}

#inputOpacity {
	display: none;
	height: 30px;
	width: 150px;
	text-align: center;
	border-radius: 5px;
	background-color: #fff;
	border: none;
}
input[type=range] {
	display: block;
	-webkit-appearance: none;
	width: 75%;
	height: 10px;
	margin: 10px 15px 0 7px;
	padding: 0;
	border: none;
	background: #ccc;
	border-radius: 3px;
	cursor: e-resize;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 25px;
	width: 25px;
	border: 2px solid #ccc;
	border-radius: 50%;
	background-color: var(--main-color);
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 10px;
	background: #ccc;
	border: none;
	border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
	height: 20px;
	width: 20px;
	border: 2px solid #ccc;
	border-radius: 50%;
	background-color: var(--main-color);
	cursor: e-resize;
}
input[type=range]:-moz-focusring {
	outline: 1px solid white;
	outline-offset: -1px;
}
input[type=range]::-ms-tooltip {
	display: none;
}
#inputOpacity .leaflet-popup-close-button, #msgStatus .leaflet-popup-close-button {
	position: absolute;
	right: 5px;
	top: 0;
	width: 15px;
	font-weight: bold;
	font: bold 17pt 'Helvetica Neue', Arial, Helvetica, sans-serif;
	cursor: pointer;
	color: var(--main-color);
}

#inputWw2 {
	width: 800px;
	height: 44px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.2);
	border: none;
}
#inputWw2 div {
	font-size: 90%;
	font-weight: bold;
	margin: 4px 0;
	color: white;
	text-shadow: 0px 0px 3px black;
}
#inputWw2 input {
	width: 97%;
	margin: auto;
}
@media (min-width: 768px) and (max-width: 1299px) { #inputWw2 { width: 600px; } }
@media (min-width: 768px) and (max-width: 1000px) { #inputWw2 { width: 400px; } }
@media (max-width: 768px) { #inputWw2 { width: 300px; } }

.sidebar-body button {
	color: var(--main-color);
	border: 1px solid #ccc !important;
	width: 30px;
	height: 30px;
	background-color: white;
	border-radius: 4px;
	cursor: pointer;
	padding: 0 6px;
}
.sidebar-body button:hover {
	background-color: var(--btn-hover-color);
	color: black;
	border: 1px solid #ccc;
	height: 30px;
}

/* poi tab */
#pois .sidebar-body {
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	padding: 0;
	width: 100%;
}
#poi-results {
	display: none;
	height: auto;
	max-height: 65%;
	resize: vertical;
	position: relative;
	padding: 0 15px 15px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	border: 2px solid #bbb;
	background-color: rgba(0, 0, 0, 0.05);
	pointer-events: none;
}
#poi-results button {
	display: block;
	position: sticky;
	position: -webkit-sticky;
	float: right;
	margin: -25px 0 5px 5px;
	top: 5px;
}

select {
	padding-left: 5px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 4px;
	height: 30px;
	cursor: pointer;
}
select:hover:enabled, #poi-results button:hover {
	background-color: var(--btn-hover-color);
	color: black;
}
#poi-results-list {
	font-size: 90%;
}
#poi-results-list img {
	height: 26px;
	display: block;
}
#poi-results-list td:first-child .fa-lg {
	opacity: 0.5;
	-webkit-text-stroke: 2px black;
}
#poi-results-list table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 3px;
}
#poi-results-list td {
	padding: 3px 1px;
}
#poi-results-list td:first-child {
	text-align: center;
	border-radius: 5px 0 0 5px;
	width: 10px;
}
.popup-tagValue .fa-fw, #poi-results-list td:last-child .fa-fw {
	font-size: 115%;
	width: 1.4em;
}
#poi-results-list td:last-child .fa-fw {
	height: 1.4em;
}
#poi-results-list td span {
	display: block;
	padding: 0 !important;
}
#poi-results-list tr {
	border-bottom: 2px solid #ececec;
}
#poi-results-list tr:last-child {
	border-bottom: none;
}
#poi-results-list tr:hover {
	background-color: rgba(190, 190, 190, 0.5);
	cursor: pointer;
}
#poi-filter {
	position: relative;
	top: 0px;
	height: 28px;
	margin: 14px 0;
}
#poi-filter-in {
	border: 1px solid #ccc;
	border-radius: 4px;
	line-height: 28px;
	padding: 0 25px 0 12px;
	width: calc(100% - 38px);
}
#poi-filter-cl {
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
#poi-filter-cl::after {
	position: absolute;
	width: 20px;
	height: 0;
	right: 1px;
	top: 5px;
	font-size: 18px;
	font-weight: bold;
	content: "\00d7";
	text-align: center;
	color: var(--main-color);
	padding-bottom: 20px;
}
#poi-group a {
	display: none;
}
#poi-icons {
	height: auto;
	padding: 0 15px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	flex: 1;
	position: relative;
}
#poi-bookm {
	width: auto;
	position: absolute;
	margin: 12px;
	right: 2px;
	top: 36px;
}
#poi-bookm label {
	width: auto;
	padding: 2px;
}
.poi-checkbox {
	width: calc(50% - 4px);
	display: inline-block;
	margin: 2px;
}
@media (min-width: 600px) and (max-width: 767px) {
	.poi-checkbox {
		width: calc(33% - 4px);
	}
}
.poi-checkbox > label {
	display: inline-block;
	width: 100%;
	border-radius: 5px;
	white-space: nowrap;
	cursor: pointer;
	transition: background-color 100ms;
}
.poi-checkbox > label:hover {
	background-color: rgba(190, 190, 190, 0.5);
}
.poi-checkbox > label > img {
	float: left;
	height: 30px;
	margin: 1px 4px;
}
.poi-checkbox > label > input {
	display: none;
}
.poi-checkbox > label > span {
	display: inline-block;
	overflow: hidden;
	width: calc(100% - 40px);
	height: 28px;
	line-height: 30px;
}
.poi-checkbox-selected {
	background-color: rgba(255, 255, 255, 0.8);
	font-weight: bold;
}
.poi-loading {
	pointer-events: none;
	opacity: 0.5;
}

/* walking tab */
#walking .comment {
	padding-top: 5px;
	font-size: 75%;
}
#walking a img {
	margin: auto;
	padding: 5px 10px 5px 10px;
	display: block;
}
#walking a img:hover {
	filter: brightness(80%);
	transition: filter 100ms;
}
#walkContainer {
	padding: 5px 0;
}
#walkList {
	width: calc(100% - 38px);
	margin: 0 5px 10px 0;
}
#walkSelect {
	position: absolute;
}
#walkDesc {
	color: darkgreen;
}
#thennow .sidebar-body {
	overflow-y: scroll;
}
#walkDesc img, #thennow img {
	width: 100%;
	max-width: 500px;
	border: 2px solid #ccc;
	margin: 5px auto auto auto;
	display: block;
}
#thennow img {
	cursor: zoom-in;
}
.thennowTip {
	text-align: center;
	max-width: 150px;
	white-space: normal;
}
.thennowTip img {
	width: 100px;
	border-radius: 5px;
}

/* tour tab */
#tourControls {
	display: inline-block;
	font-size: 10pt;
	white-space: nowrap;
	height: 30px;
	width: 100%;
	padding: 8px 0;
}
#tourList {
	width: 70%;
}
#tourFrame {
	height: calc(100% - 46px);
	width: 100%;
	border: none;
}
#tourLoading, #thennowLoading {
	display: none;
	margin-top: 20px;
	position: absolute;
	width: 100%;
	color: #aaa;
	font-size: 16px;
	text-align: center;
}
#tour .sidebar-body {
	width: 100%;
	text-align: center;
	overflow: hidden;
	padding: 0;
}

/* settings tab */
.switch {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 24px;
	cursor: pointer;
}
.switch input {
	display: none;
}
.slider {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #bbb;
	transition: 400ms;
	border-radius: 24px;
	width: 50px;
}
.slider::before {
	position: absolute;
	content: '';
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 400ms;
	border-radius: 50%;
}
.slider:hover {
	background-color: #999;
}
input:checked + .slider {
	background-color: var(--main-color);
}
input:focus + .slider {
	box-shadow: 0 0 1px var(--main-color);
}
input:checked + .slider::before {
	transform: translateX(26px);
}
.switchLabel {
	font-size: 90%;
	line-height: 24px;
	display: inline-block;
	margin-left: 60px;
}
#devTools button {
	float: left;
	margin-right: 5px;
}
.buttonLabel {
	font-size: 90%;
	line-height: 24px;
}
#inputOverpass, #inputOpServer, #inputRevServer {
	width: calc(100% - 100px);
}
#inputAttic, #inputOverpass, #inputOpServer, #inputOpCache, #inputRevServer {
	margin: 5px 0 5px 5px;
}
#inputOverpass, #inputAttic, #inputOpCache {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 0 5px;
	line-height: 28px;
}
#inputOpCache {
	width: 50px;
	margin-right: 5px;
}
#devTools {
	display: block;
	position: relative;
	padding-bottom: 5px;
}
#devTools > div {
	padding: 5px 0 0 15px;
}

/* help tab */
#help img {
	box-sizing: border-box;
	max-width: 100%;
	margin: auto;
	display: block;
	padding: 0 15px 0 15px;
}
#gotocontrols .fa-border {
	border: 1px solid #aaa;
	border-radius: 5px;
	background-color: white;
}
#gotocontext .fa-fw {
	color: #666;
}
#gototabs img {
	float: left;
	padding: 0 5px 0 5px;
	width: 25px;
}
#gotodonate table {
	margin-top: 5px;
	text-align: center;
	width: 100%;
}
#gotodonate td {
	padding: 5px 0;
}

/* information tab */
#info ul {
	padding-left: 10px;
	list-style-type: none;
}
#info #gotosoftware > ul {
	margin-top: 5px;
}
#info td:hover {
	filter: brightness(80%);
	transition: filter 100ms;
}
#myprofile {
	display: inline-block;
}
#myprofile img {
	float: left;
	margin-right: 5px;
	border: 1px solid #ccc;
	border-radius: 20px;
}
#mylinks {
	line-height: 25px;
}
#mylinks .fa-fw {
	padding: 0 10px;
}

/* marker popups */
@media (max-width: 767px) {
	.leaflet-control-layers-list, .leaflet-popup, #msgStatus, 
	.leaflet-control-geocoder-alternatives, .leaflet-control-geocoder-form-no-error {
		font-size: 9pt !important;
	}
	.popup-imgContainer > a > img {
		max-width: 80% !important;
	}
}
.leaflet-right .leaflet-control-layers {
	transition: padding 400ms;
}
.leaflet-control-layers-list, .leaflet-popup {
	cursor: default;
	font-size: 10pt;
}
.leaflet-control-layers-expanded, #msgStatusBody {
	background-color: rgba(235, 235, 235, 0.9);
	border: none !important;
}
.controlTitle {
	font-weight: bold;
	color: var(--main-color);
	margin-top: 5px;
}
.leaflet-control-layers label {
	cursor: pointer;
}
.leaflet-popup-content {
	margin: 0 15px 10px 15px;
}
.leaflet-container a.leaflet-popup-close-button {
	top: -14px;
	right: -14px;
	width: 15px;
	height: 15px;
	background-color: #eaeaea;
	border: 3px solid #ccc;
	border-radius: 100%;
	padding: 3px;
	color: var(--main-color);
	font-weight: bold;
}
.leaflet-container a.leaflet-popup-close-button:hover, .popup-edit:hover, .popup-bookm:hover {
	color: #333;
}
.popup-edit, .popup-bookm {
	top: 7px;
	position: absolute;
	color: var(--main-color);
}
.popup-edit {
	right: 15px;
}
.popup-bookm {
	right: 40px;
}
.popup-bookm > .fas {
	color: goldenrod;
}
.popup-header {
	margin: auto -16px 10px -16px;
	padding: 10px 11px 5px 11px;
	border-bottom: 2px solid #ddd;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: rgba(200, 200, 200, 0.2);
}
.popup-header h3 {
	padding-right: 50px;
	margin: 0 auto 0;
}
.popup-t .popup-header h3 {
	padding-right: 0;
}
.popup-header-sub {
	display: table-cell;
	font-style: oblique;
	font-weight: bold;
	padding-right: 10px;
	width: 100%;
	vertical-align: bottom;
}
.popup-fhrs {
	display: table-cell;
	line-height: 0;
}
.popup-fhrs > a > img {
	white-space: nowrap;
}
.popup-tagContainer {
	display: table;
	outline: none;
}
.popup-tagIcon {
	display: table-cell;
	padding-right: 3px;
	min-width: 17px;
	color: #555;
}
.popup-tagValue {
	display: table-cell;
	text-indent: -5px;
	padding-left: 5px;
}
.popup-truncate {
	display: inline-block;
	overflow-x: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: -4px;
	text-indent: 0;
}
.popup-longDesc {
	display: block;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	max-height: var(--popup-long-desc-height);
	text-align: justify;
	padding-right: 3px;
}
@media (max-height: 500px) {
	.popup-longDesc {
		max-height: calc(var(--popup-long-desc-height) / 2);
	}
}
.popup-streetSource {
	display: block;
	font-size: 80%;
	padding: 5px 0 5px 25px;
}
.popup-ohContainer .popup-tagValue {
	width: 100%;
	padding-right: 15px;
	cursor: pointer;
}
.popup-ohTable {
	display: none;
	cursor: default;
	font: 80% monospace;
	text-align: center;
	max-height: 170px;
	padding: 5px 0 5px 15px;
}
.popup-ohTable table { width: 100%; border-collapse: collapse; }
.popup-ohTable tr { border: 1px solid white; }
.popup-ohTable td { padding: 2px 0; }
.popup-ohTable tr.today { font-weight: bold; }
.popup-ohTable td.weekend { background: #ccc; }
.popup-ohTable td.workday { background: #ddd; }
.popup-ohTable td.times { background: #eee; }
#img0 {
	display: inherit;
}
.popup-imgContainer {
	margin-top: 5px;
	text-align: center;
	display: none;
}
.popup-imgContainer > a > img {
	border: 2px solid #ccc;
	border-radius: 5px;
	max-width: 85%;
}
.popup-imgContainer > a {
	display: block;
	outline: 0;
	cursor: zoom-in;
}
.popup-imgAttrib {
	padding-top: 4px;
	line-height: 6pt;
	font-size: 6pt;
	min-height: 5px;
}
.popup-imgAttrib, .popup-imgAttrib a, .navigateItem .fa-images {
	color: #808080;
}
.popup-imgAttrib .imgOpen {
	color: var(--main-color);
	font-weight: bold;
}

.popup-imgBooking {
	width: 80px;
	vertical-align: bottom;
}
.popup-bsTable {
	border-collapse: collapse;
	text-align: center;
	margin: 5px 0;
	font-size: 90%;
	color: #555;
	max-height: 200px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.popup-facilities span {
	display: inline-block;
}
.popup-bsTable tr { text-align: left; border: 1px solid #ccc; background-color: white; }
.popup-bsTable td { padding: 2px; }
.popup-bsTable td:nth-child(1) { font-weight: bold; }
.popup-bsTable td:nth-child(2) { width: 100%; }
.popup-bsTable td:nth-child(3) { white-space: nowrap; text-align: right; }
.facYes { color: darkgreen; }
.facLtd { color: olive; }
.facNo { color: darkred; }
.facGen { padding-left: 5px; white-space: nowrap; }
.facRecyc { padding-left: 5px; color: #62745f; }
.facPay { padding-left: 5px; color: #714b83; }
.facDiet { padding-left: 5px; color: #00a275; }

.fancybox-button .fa-2x, .fancybox-close-small .fa-2x {
	opacity: 0.7;
}
.fancybox-button .fa-2x:hover {
	opacity: 1;
}
.fancybox-button--pause .fas:first-child, .fancybox-button--play .fas:nth-child(2) {
	display: none;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background-color: rgba(244, 244, 244, 0.9);
}
.leaflet-popup-content-wrapper {
	padding: 0 1px 1px 1px;
}
.leaflet-tooltip {
	font-size: 10pt;
	border-radius: 5px;
	color: #222;
	background-color: #fff !important;
}
.openColor-list-true { background: linear-gradient(to right, rgba(0, 100, 0, 0.4), transparent); }
.openColor-list-false { background: linear-gradient(to right, rgba(139, 0, 0, 0.4), transparent); }
.openColor-true { color: #008000; }
.openColor-false { color: #ff0000; }
.openColor-depends { color: #808080; }
#poi-results-list .openColor-list-depends, #poi-results-list .openColor-list-undefined {
	background: linear-gradient(to right, rgba(153, 153, 153, 0.4), transparent);
}
.tooltip-icons {
	color: #777;
	min-width: 16px;
}

.ui-tooltip {
	padding: 5px 10px;
	position: absolute;
	z-index: 1200;
	max-width: 75px;
	background-color: rgba(75, 75, 75, 0.95);
	color: white;
	font-size: 8pt;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #ccc;
}
.ui-helper-hidden-accessible {
	display: none;
}

#holidayImg {
	z-index: 1;
	position: absolute;
	top: 5px;
	right: 40px;
	width: 50px;
	opacity: 0.85;
	filter: drop-shadow(1px 1px 2px);
	transition: opacity 150ms linear;
	pointer-events: none;
}
#xmasMsg {
	padding: 5px;
	margin-top: 10px;
	background-color: rgba(255, 255, 255, 0.25);
	cursor: pointer;
}
#xmasMsg:hover {
	box-shadow: inset 0 0 5px darkred;
}
#xmasMsg > #xmasTitle {
	display: flex;
	padding: 5px 0;
	text-align: center;
	justify-content: center;
}
#xmasMsg > #xmasTitle, #xmasMsg > .comment {
	color: darkgreen;
}
#xmasMsg > #xmasTitle > span {
	color: darkred;
	padding: 0 5px;
}
.popup-xmas .leaflet-popup-content-wrapper, .leaflet-tooltip.popup-xmas, #xmasMsg {
	background-image: url('../../tour/tourXmas/popup-bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.popup-xmas .popup-header {
	background-color: rgba(0, 175, 0, 0.3);
}
.popup-xmas .popup-imgContainer img {
	border-color: #966464;
}
.popup-xmas .popup-imgAttrib, .popup-xmas .popup-imgAttrib a {
	font-size: 8pt;
	color: green;
}
.xmasAward {
	text-shadow: 0.5px 0.5px 0 #555;
}
.leaflet-popup.popup-xmas .xmasAward {
	position: absolute;
	top: 25px;
	right: 15px;
	font-size: 45pt;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), 0 0 15px white;
	-webkit-text-stroke: 2px rgba(0, 0, 0, 0.2);
}
.xmasAward.commended0 { color: #800080; }
.xmasAward.commended1 { color: #ffd700; }
.xmasAward.commended2 { color: #bbb; }
.xmasAward.commended3 { color: #d2b48c; }
.xmasAward.commended4 { color: #4d7480; }
.xmasAward.commended5 { color: #52804d; }

@keyframes jump {
	0%,to { transform: translateZ(0); }
	10%,30%,50%,70%,90% { transform: translate3d(0,-2px,0); }
	20%,40%,60%,80% { transform: translate3d(0,2px,0); }
}
.jump {
	animation-duration: 1.5s;
	animation-name: jump;
	animation-timing-function: ease-in-out;
}
@keyframes wobble {
	0%,to { transform:translateX(0); }
	10%,30%,50%,70%,90% { transform: translate3d(-2px,0,0); }
	20%,40%,60%,80% { transform: translate3d(2px,0,0); }
}
.wobble {
	animation-duration: 2s;
	animation-name: wobble;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 4;
}
::-ms-clear { display: none; }
