:root {
	--text-color: black;
	--bg-color: #ccc;
	--bg-color2: rgba(190, 190, 190, 0.5);
}
html {
	height: 100%;
	overflow: hidden;
	color: var(--text-color);
}
body {
	font: 11pt "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding: 0 15px 0 15px;
	text-align: justify;
	margin: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	scrollbar-color: var(--scr-thumb) var(--scr-track);
	scrollbar-width: thin;
}
body::-webkit-scrollbar {
	width: 7px;
	background-color: var(--scr-track);
}
body::-webkit-scrollbar-thumb {
	background-color: var(--scr-thumb);
}
@media (min-width: 733px) and (max-width: 1264px), (max-width: 365px) {
	body {
		font-size: 10pt;
	}
}

#reference {
	text-align: left;
}
#reference ol {
	margin-top: 5px;
}
#reference b {
	color: var(--text-color);
}

h3 {
	margin-bottom: 10px;
}

sup {
	font-size: 60%;
	cursor: pointer;
}
sup:hover { color: var(--main-color); }
sup::before { content: "["; }
sup::after { content: "]"; }

ul, ol {
	padding-left: 20px;
}

h3 img {
	width: 98%;
	margin: 0;
}
img {
	width: 100%;
	max-width: 500px;
	border: 2px solid var(--bg-color);
	margin: auto;
	display: block;
	cursor: zoom-in;
}

.float-left {
	float: left;
	width: auto;
	max-width: 35%;
	max-height: 200px;
	margin: 0 5px 5px 0;
}

#bombKey {
	margin: -10px auto auto 10px;
}
#bombKey span {
	display: inline-block;
	margin-right: 5px;
	font-size: 35pt;
	line-height: 11pt;
	vertical-align: middle;
	-webkit-text-stroke: 2px black;
	opacity: 0.75;
}

.person > div {
	display: table;
	width: 100%;
}
.person > div p {
	margin-top: 0px;
}
.maps .maplink p {
	margin: 5px 0;
}
.maplink {
	cursor: pointer;
	background:
		url(tour-show.svg)
		right 5px
		center
		/20px 20px
		no-repeat;
	padding: 5px 28px 5px 5px;
	margin-right: -5px;
	margin-bottom: 5px;
	margin-left: -5px;
	text-align: left;
	border-radius: 3px;
	transition: background-color 100ms;
	color: var(--main-color);
}
.maplink:hover {
	background-color: var(--bg-color);
}
.vidlink {
	display: block;
	padding: 5px 0;
}
.vidlink::before {
	content: "\25BA\0020";
}
.sm {
	margin-top: 5px;
	margin-bottom: 2px;
	font-size: 95%;
	background-size: 18px 18px;
}
.comment {
	font-size: 85%;
	margin-top: -8px;
	text-align: center;
	font-style: italic;
	color: #808080;
}

a {
	text-decoration: none;
}
a:link, a:visited, a:hover, a, sup {
	color: var(--main-color);
	cursor: pointer;
}
a:hover, sup:hover {
	text-decoration: underline;
}
