@import '../assets/font/fontawesome/css/all.min.css';
:root {
	--text-color: black;
	--bg-color: #cccccc;
	--bg-color2: rgba(190, 190, 190, 0.5);
}
html {
	height: 100%;
	overflow: hidden;
	color: var(--text-color);
}
body {
	font: 11pt Helvetica, Arial, sans-serif;
	padding: 0 3%;
	text-align: justify;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	scrollbar-color: var(--scr-thumb) var(--scr-track);
	scrollbar-width: thin;
	background-image: linear-gradient(transparent, rgba(var(--scroll-shadow), 0.5));
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% 20px;
}
body::-webkit-scrollbar {
	width: 7px;
	background-color: var(--scr-track);
}
body::-webkit-scrollbar-thumb {
	background-color: var(--scr-thumb);
}
@media (min-width: 733px) and (max-width: 1264px), (max-width: 365px) {
	body {
		font-size: 10pt;
	}
}

#reference {
	text-align: left;
}
#reference-list ol {
	margin-top: 5px;
}
#reference-list #reading {
	list-style-type: lower-roman;
}
#reference-list > a > b {
	color: var(--text-color);
}

h3 {
	margin-bottom: 10px;
}

sup {
	font-size: 70%;
	background: var(--main-color);
	border-radius: 3px;
	color: var(--bg-color);
	text-align: center;
	margin: 0 2px;
	cursor: pointer;
	padding: 0 2px;
}
sup:hover { background: var(--text-color); }
ul, ol {
	padding-left: 20px;
}

figure {
	margin: 15px 3%;
}
img {
	width: 100%;
	max-width: 500px;
	border: 2px solid var(--bg-color);
	border-radius: 5px;
	margin: auto;
	display: block;
	cursor: zoom-in;
}
.float-left {
	float: left;
	width: auto;
	max-width: 35%;
	max-height: 200px;
	margin: 0 5px 5px 0;
}
.no-border {
	border: none;
	border-radius: unset;
}
.shadow {
	filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
}
figcaption {
	margin-top: 3px;
	font-size: 85%;
	text-align: center;
	font-style: italic;
	color: #808080;
}

#ww2-bombkey {
	margin: -10px auto auto 10px;
}
#ww2-bombkey span {
	display: inline-block;
	margin-right: 5px;
	font-size: 35pt;
	line-height: 11pt;
	vertical-align: middle;
	-webkit-text-stroke: 2px black;
	opacity: 0.75;
}
.comment {
	opacity: 0.6;
	font-style: italic;
}

.img-inline > div {
	display: table;
	width: 100%;
}
.img-inline > div p {
	margin-top: 0px;
}
.link-overlay > div {
	padding-bottom: 10px;
}
.link-overlay .link-map p {
	margin: 5px 0;
}
.link-map::before {
	font: var(--fa-font-solid);
	content: '\f5a0';
	float: right;
}
.link-map {
	cursor: pointer;
	padding: 5px;
	margin-right: -5px;
	margin-bottom: 5px;
	margin-left: -5px;
	text-align: left;
	border-radius: 5px;
	transition: background-color 100ms;
	color: var(--main-color);
}
.link-map:hover {
	background-color: var(--bg-color);
	color: var(--text-color);
}
.link-map img {
	width: 94%;
	margin: 0 3%;
}
.link-small {
	margin-top: 5px;
	margin-bottom: 2px;
	font-size: 95%;
	background-size: 18px 18px;
}
.link {
	display: block;
	padding: 5px 0;
	font-size: 90%;
	font-style: italic;
	text-align: right;
}
.link::before {
	font: var(--fa-font-solid);
}
.vid.link::before {
	font: var(--fa-font-brands);
	content: '\f167';
}
.txt.link::before {
	content: '\f518';
}
.cam.link::before {
	content: '\f030';
}
.url.link::before {
	content: '\f35d';
}

a {
	text-decoration: none;
}
a:link, a:visited, a:hover, a {
	color: var(--main-color);
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
