body {
	font: 11pt "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding: 0 15px 15px 15px;
	text-align: justify;
	margin: 0;
}

strong {
	font-size: 115%;
}

sup {
	font-size: 75%
}

ul, ol {
	padding-left: 20px;
}

img {
	max-width: 100%;
	border: 2px solid #ccc;
	margin: auto;
	display: block;
}

.comment {
	font-size: 9pt;
	margin-top: -8px;
	text-align: center;
	font-style: italic;
	color: #808080;
}

.maplink {
	cursor: pointer;
	background:
		url(show.png)
		right top
		no-repeat;
	position: relative;
	padding-right: 20px;
}
.maplink:hover {
	background-color: rgba(255,255,255,0.6);
}

a {
	text-decoration: none;
}
a:link, a:visited, a:hover {
	color: #b05000;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}