:root {
	--main-color: #ca5b00;
}
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body {
	background-color: #eeeeee;
	font: 11pt Helvetica, Arial, sans-serif;
	text-align: justify;
	margin: auto 5%;
	font-size: 90%;
}
html.darkMode body {
	background-color: #1b1b1b;
	color: #e3e3e3;
}
html.darkMode button svg path {
	fill: #000000;
}
html.darkMode #street-filter-input {
	background-color: #000000;
	color: #e3e3e3;
}
html.darkMode #street-index a {
	background-color: #000000;
}
html.darkMode #intro, html.darkMode #outro {
	color: #aaaaaa;
}
a {
	text-decoration: none;
}
a:link, a:visited, a:hover, a {
	color: var(--main-color);
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
#header {
	-webkit-mask-image: -webkit-linear-gradient(top, rgb(0,0,0) 0%, rgb(0,0,0) 70%, transparent 100%);
	mask-image: linear-gradient(to bottom, rgb(0,0,0) 0%, rgb(0,0,0) 70%, transparent 100%);
	aspect-ratio: 4/1;
	object-fit: cover;
}
h1, .divider, #street-results-end {
	font-family: Garamond, serif;
}
h1 {
	color: var(--main-color);
	text-align: center;
	position: relative;
}
h2, #street-index {
	border-top: 1px solid var(--main-color);
	padding-top: 20px;
}
ul {
	padding-left: 20px;
	list-style-type: circle;
}
button svg path {
	fill: #eeeeee;
}
#links, .divider {
	scroll-margin-top: 10px;
}
#button-theme, #button-anchor {
	display: block;
	opacity: 0.6;
	transition: opacity 100ms linear;
	border-radius: 100%;
	background-color: var(--main-color);
	border: 1px solid rgba(128, 128, 128, 0.5);
	cursor: pointer;
	z-index: 1;
}
#button-anchor:hover, #button-theme:hover {
	opacity: 1;
	text-decoration: none;
}
#button-theme {
	position: absolute;
}
#button-anchor {
	display: none;
	position: sticky;
	bottom: 20px;
	margin-left: 110%;
}
#intro, #outro {
	color: #333333;
}
.email {
	white-space: nowrap;
}
.credit {
	text-align: right;
	font-style: italic;
	margin: 10px 0;
	font-size: 8pt;
}
.credit::before {
	content: '\00a9';
	margin-right: 5px;
}
.divider {
	margin: 30px 30% 15px 30%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	color: var(--main-color);
	user-select: none;
}
#street-results-end {
	font-size: 150%;
	text-align: center;
	color: var(--main-color);
	font-weight: bold;
}
#street-results-end::before, #street-results-end::after {
	content: '\26AC';
	padding: 0 2%;
	font-weight: normal;
}
#street-index {
	display: flex;
	flex-wrap: nowrap;
	gap: 5px;
	margin-bottom: 20px;
	text-align: center;
	font-family: monospace;
	font-size: 16pt;
	font-weight: bold;
	line-height: 30px;
}
#street-index a {
	border-radius: 5px;
	background-color: white;
	flex: 1 1 calc((100% / 13) - 5px);
}
#street-index a:hover {
	text-decoration: none;
	outline: 1px solid var(--main-color);
}
#street-index a.disable, .permDisable {
	opacity: 0.5;
	pointer-events: none;
}
#street-filter {
	position: relative;
	top: 0px;
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
}
#street-filter-input {
	background-color: #ffffff;
	border: none;
	border-radius: 5px;
	line-height: 30px;
	padding: 0 25px 0 12px;
	width: 100%;
	box-sizing: border-box;
}
#street-filter-input:focus, #street-filter-input:hover {
	outline: 1px solid var(--main-color);
}
#street-filter-close {
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
#street-filter-close::after {
	position: absolute;
	width: 20px;
	height: 0;
	right: 1px;
	top: 5px;
	font-size: 18px;
	font-weight: bold;
	content: '\00d7';
	text-align: center;
	color: var(--main-color);
	padding-bottom: 20px;
}
#street-filter-text {
	color: #555555;
	text-align: right;
	margin: 10px 0 20px 0;
	font-style: italic;
}
.street {
	line-height: 1.3;
	border-bottom: 1px solid rgba(128,128,128,15%);
	padding: 15px 0;
	margin: 0;
}
.street:first-child {
	padding: 0;
}
.street.lost strong, .street.lost div {
	opacity: 0.5;
}
.street strong {
	font-weight: bold;
}
.street > div {
	margin-top: 2px;
}
.street-map-link {
	float: right;
}
.street-map-link svg {
	width: 15px;
	fill: var(--main-color);
	opacity: 0;
	transition: opacity linear 250ms;
}
.street:hover .street-map-link svg {
	opacity: 1;
}
#construction-body span, #research-body span {
	display: inline-block;
}
#construction-body span:not(:last-child)::after, #research-body span:not(:last-child)::after {
	content: '\26AC';
	padding: 0 5px;
	opacity: 0.5;
}
@media (min-width: 900px) {
	html {
		background-color: #cccccc;
	}
	body {
		margin: 20px 10%;
		padding: 5% 5% 0 5%;
		box-shadow: 0 2px 10px #555555;
		font-size: 100%;
	}
	html.darkMode {
		background-color: #333333;
	}
	html.darkMode body {
		box-shadow: 0 0 5px #444444;
	}
	#header {
		width: 110%;
		margin: -5%;
		border-radius: 10px 10px 0 0;
	}
	#button-theme, #button-anchor {
		width: 40px;
		height: 40px;
		padding: 5px 2px 2px 2px;
	}
	button svg {
		width: 30px;
		height: 30px;
	}
	h1 {
		font-size: 2.8vw;
	}
}
@media (max-width: 899px) {
	#header {
		margin: 0 -5.5% -50px -5.5%;
		width: 111%;
		height: 175px;
	}
	#button-theme, #button-anchor {
		width: 30px;
		height: 30px;
		padding: 2px;
	}		
	#button-theme {
		top: 150px;
		left: 10px;
	}
	button svg {
		width: 26px;
		height: 26px;
	}
	#button-anchor {
		margin-left: calc(105.5% - 30px);
		border-right: none;
		border-radius: 100% 0px 0px 100%;
	}
	h1 {
		font-size: 5.5vw;
	}
}
@media (max-width: 500px) {
	#button-theme {
		top: 125px;
	}
	h1 {
		font-size: 8.5vw;
	}
	#street-index {
		flex-wrap: wrap;
	}
}
@media (min-width: 2000px) {
	body {
		margin: 20px auto;
		max-width: 1400px;
	}
	h1 {
		font-size: 40pt;
	}
}

/* kiosk mode */
.kiosk a[href*="http"], .kiosk a[href*="mailto"] {
	pointer-events: none;
}
