:root {
	--main-color: #974500;
}
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body {
	background-color: #eeeeee;
	font: 11pt Helvetica, Arial, sans-serif;
	text-align: justify;
	margin: auto 5%;
	font-size: 90%;
}
html.darkMode body {	
	background-color: #111111;
	color: #777777;
}
html.darkMode button svg path {
	fill: #000000;
}
html.darkMode #street-filter-in {
	background-color: #000000;
	color: #777777;
}
html.darkMode #street-index a {
	background-color: #222222;
}
html.darkMode #intro, html.darkMode #outro {
	color: #666666;
}
a {
	text-decoration: none;
}
a:link, a:visited, a:hover, a {
	color: var(--main-color);
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
#header {
	-webkit-mask-image: -webkit-linear-gradient(top, rgb(0,0,0) 0%, rgb(0,0,0) 70%, transparent 100%);
	mask-image: linear-gradient(to bottom, rgb(0,0,0) 0%, rgb(0,0,0) 70%, transparent 100%);
	aspect-ratio: 4/1;
	object-fit: cover;
}
h1, .divider, #endresults {
	font-family: Garamond, serif;
}
h1 {
	color: var(--main-color);
	text-align: center;
	position: relative;
}
h2, #street-index {
	border-top: 1px solid var(--main-color);
	padding-top: 20px;
}
ul {
	padding-left: 20px;
	list-style-type: circle;
}
button svg path {
	fill: #eeeeee;
}
#btnTheme, #anchor {
	display: block;
	opacity: 0.6;
	transition: opacity 100ms linear;
	border-radius: 100%;
	background-color: var(--main-color);
	border: 1px solid rgba(128, 128, 128, 0.5);
	cursor: pointer;
	z-index: 1;
}
#anchor:hover, #btnTheme:hover {
	opacity: 1;
	text-decoration: none;
}
#btnTheme {
	position: absolute;
}
#anchor {
	display: none;
	position: sticky;
	position: -webkit-sticky;
	bottom: 20px;
	margin-left: 110%;
}
#intro, #outro {
	color: #333333;
}
.credit {
	text-align: right;
	font-style: italic;
	margin: 10px 0;
	font-size: 8pt;
}
.credit::before {
	content: "\00a9";
	margin-right: 5px;
}
.divider {
	margin: 20px 30% -10px 30%;
	background-image: url('img/div.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
	color: var(--main-color);
	opacity: 75%;
	user-select: none;
}
#endresults {
	font-size: 150%;
	text-align: center;
	color: var(--main-color);
	font-weight: bold;
	opacity: 75%;
}
#endresults::before, #endresults::after {
	content: '\2022';
	margin: 0 2%;
}
#street-index {
	display: flex;
	margin-bottom: 20px;
	text-align: center;
	font-family: monospace;
	font-size: 16pt;
	font-weight: bold;
	line-height: 30px;
}
#street-index a {
	margin: 5px auto;
	border-radius: 5px;
	background-color: #dddddd;
	width: 3.5%;
}
#street-filter {
	position: relative;
	top: 0px;
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
}
#street-filter-in {
	background-color: #ffffff;
	border: 1px solid var(--main-color);
	border-radius: 5px;
	line-height: 28px;
	padding: 0 25px 0 12px;
	width: 100%;
	box-sizing: border-box;
}
#street-filter-cl {
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
#street-filter-cl::after {
	position: absolute;
	width: 20px;
	height: 0;
	right: 1px;
	top: 5px;
	font-size: 18px;
	font-weight: bold;
	content: "\00d7";
	text-align: center;
	color: var(--main-color);
	padding-bottom: 20px;
}
#street-results {
	color: #555555;
	text-align: right;
	margin: 10px 0 20px 0;
	font-style: italic;
}
.street {
	line-height: 1.3;
	padding-top: 20px;
	margin: 0;
}
.street:first-child {
	padding: 0;
}
.old {
	opacity: 0.5;
}
@media (min-width: 900px) {
	html {
		background-color: #cccccc;
	}
	body {
		margin: 20px 10%;
		padding: 5% 5% 0 5%;
		box-shadow: 0 2px 10px #555555;
		font-size: 100%;
	}
	html.darkMode {
		background-color: #333333;
	}
	html.darkMode body {
		box-shadow: 0 2px 10px #000000;
	}
	#header {
		width: 110%;
		margin: -5%;
		border-radius: 10px 10px 0 0;
	}
	#btnTheme, #anchor {
		width: 40px;
		height: 40px;
		padding: 5px 2px 2px 2px;
	}
	button svg {
		width: 30px;
		height: 30px;
	}
	h1 {
		font-size: 2.8vw;
	}
}
@media (max-width: 899px) {
	#header {
		margin: 0 -5.5% -50px -5.5%;
		width: 111%;
		height: 175px;
	}
	#btnTheme, #anchor {
		width: 30px;
		height: 30px;
		padding: 2px;
	}		
	#btnTheme {
		top: 150px;
		left: 10px;
	}
	button svg {
		width: 26px;
		height: 26px;
	}
	#anchor {
		margin-left: calc(105.5% - 30px);
		border-right: none;
		border-radius: 100% 0px 0px 100%;
	}
	h1 {
		font-size: 5.5vw;
	}
}
@media (max-width: 500px) {
	#btnTheme {
		top: 125px;
	}
	h1 {
		font-size: 8.5vw;
	}
}
